<div class="wrapper table_green">
  <div class="row justify-content-between align-items-center px-3">
    <div class="col-ml-12" style="margin-bottom: 30px;">
      <h1>Produto vendido</h1>
    </div>
  </div>
  <div class="card-filter">
    <div class="card-filter-title">
      <span>Buscar venda de produtos</span>
    </div>
    <form [formGroup]="form">
      <div class="form-top">
        <div class="radios">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="filterRadio" id="vendedor" value="vendedor">
            <label class="form-check-label" for="vendedor">Vendedor</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="filterRadio" id="cliente" value="cliente">
            <label class="form-check-label" for="cliente">Cliente</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="filterRadio" id="produto" value="produto">
            <label class="form-check-label" for="produto">Produto</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="filterRadio" id="departamento" value="departamento">
            <label class="form-check-label" for="departamento">Departamento</label>
          </div>
        </div>

        <div style="margin-right: 11px; display: flex; flex-direction: column; margin-top: 4px;" class=" datePicker form-group  ml-auto">
          <label for="picker">Período</label>
          <div class="group-icon-input">
             <input
              id="picker"
              type="text"
              #datepickerDe="bsDatepicker"
              class="form-control form-datePicker"
              bsDatepicker
              placeholder="de"
            >
            <div  (click)="datepickerDe.toggle()" class="picker-icon" aria-label="My icon" inlineSVG="../../../assets/icons/date.svg"></div>
          </div>

        </div>
        <div  style="margin-right: 20px; margin-top: 21px;" class="datePicker" >
          <div class="group-icon-input">
            <input
                id="picker"
                type="text"
                #datepickerAte="bsDatepicker"
                class="form-control form-datePicker"
                bsDatepicker
                placeholder="até"
            >
            <div  (click)="datepickerAte.toggle()" class="picker-icon" aria-label="My icon" inlineSVG="../../../assets/icons/date.svg"></div>
          </div>
        </div>

        <!-- <div class="search-bar">
          <input type="text" placeholder="Busque por clientes ou orçamentos" >
        </div> -->

        <div class="search-form inputSearch"  >
          <div class="form-group form-search " style="margin-top: 37px; margin-right: 20px; " >
            <input type="text" class="form-control " id="search" placeholder="Informe o dado para a busca">
            <div class="search-icon" aria-label="search" inlineSVG="../../../assets/icons/search.svg"></div>
          </div>
        </div>

      </div>

      <div class="d-flex align-items-start">

        <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 25%;">
          <label for="vendedor" >Vendedor</label>
          <input type="text" class="form-control filter-input-details" id="lanc" readonly>
        </div>

        <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 25%;">
          <label for="vendedor" >Cliente</label>
          <input type="text" class="form-control filter-input-details" id="lanc" readonly>
        </div>
        <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 25%;">
          <label for="vendedor" >Produto</label>
          <input type="text" class="form-control filter-input-details" id="lanc" readonly>
        </div>
        <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 25%;">
          <label for="vendedor" >Departamento</label>
          <input type="text" class="form-control filter-input-details" id="lanc" readonly>
        </div>

      </div>
    </form>
  </div>


  <div class="card-filter mt-5">
    <div class="card-filter-title">
      <span>Lista de notas vencidas</span>
    </div>

      <ngx-datatable  class='bootstrap no-detail-row mt-2'
      [columnMode]="'force'"
      [footerHeight]="4"

      [rowHeight]="40"
      [rows]="rows"
      [loadingIndicator]="true"
      [scrollbarV]="true"
      [scrollbarH]="true"
      [limit]="10"
      style="width: 100%; min-height: 200px"


      >
      <ngx-datatable-column name="DATA DE EMISSÃO" prop="date"  [width]="200">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{' ' + row.date}}

        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="NOTA Nº" prop="noteN" ></ngx-datatable-column>
      <ngx-datatable-column name="ORÇ. FILIAL Nº" prop="orc_filial" ></ngx-datatable-column>
      <ngx-datatable-column name="CÓD. CLIENTE" prop="codClient"  ></ngx-datatable-column>
      <ngx-datatable-column name="CLIENTE" prop="client"  [width]="300"></ngx-datatable-column>
      <ngx-datatable-column name="RCA" prop="rca" ></ngx-datatable-column>
      <ngx-datatable-column name="CÓD. PRODUTO" prop="codProduct" ></ngx-datatable-column>
      <ngx-datatable-column name="PRODUTO" prop="product" ></ngx-datatable-column>
      <ngx-datatable-footer></ngx-datatable-footer>
    </ngx-datatable>

  </div>

</div>
