
  .main-header {
    // position: fixed;
    width: calc(100% - 223px);
    height: $topbar-height;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #FAFAFA;
    z-index: 100;
    padding: 20px 40px;
    .menu-toggle {
        width: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        margin-right: 12px;
        div {
            width: 24px;
            height: 1px;
            background: $foreground;
            margin: 3px 0;
        }
    }

    .profie {
      margin-left: 25px;
      margin-right: 15px;
      cursor: pointer;
    }

    .date-profile {
      p {
        // font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #747474;
        margin: 0px;
        margin-bottom: 6px;
      }
      span {
        // font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #747474;}
    }

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: left;
        background: #F1F1F1;
        border: 1px solid $gray-200;
        border-radius: 5px;
        position: relative;
        width: 286px;
        height: 40px;
        margin-right: 25px;
        input {
            background: transparent;
            border: 0;
            color: #212121;
            font-size: .8rem;
            line-height: 2;
            height: 100%;
            outline: initial!important;
            padding: .5rem 1rem;
            width: calc(100% - 32px);
        }
        .search-icon {
            font-size: 18px;
            width: 24px;
            display: inline-block;
        }
    }

    .header-hr {
      margin: 0 25px;
      hr{
        border: none;
        border-left: 1px solid #dddddd;
        height: 38px;
        width: 1px;
      }
    }


    .logo {
        width: 141px;
        img {
          width: 133px;
          height: 60px;
          display: block;
          margin-right: 40px;

        }
    }

    .header-icon {
        background-color: white;
        width: 150px;
        font-size: 19px;
        cursor: pointer;
        height: 36px;
        width: 36px;
        line-height: 36px;
        display: inline-block;
        text-align: center;
        border-radius: 50px;
        margin: 0 2px;
        img {
          height: 18px;
        }

        .i-round {
          position: absolute;
          height: 10px !important;
          right: 5px;
          top: 9px;
          z-index: 10;
        }
        &:hover {
            // background: $gray-100;
        }
        &.dropdown-toggle {
            &:after { display: none; }
        }
    }
    .header-part-right {
        display: flex;
        align-items: center;
        .user {
            margin-right: 2rem;
            img {
                width: 36px;
                height: 36px;
                border-radius: 50%;
            }
        }
    }
    .notification-dropdown {
        padding: 0;
        max-height: 260px;
        cursor: pointer;
        .dropdown-item {
            display: flex;
            align-items: center;
            padding: 0;
            height: 72px;
            border-bottom: 1px solid $gray-300;
            .notification-icon {
                background: $gray-200;
                height: 100%;
                width: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    font-size: 18px;
                }
            }
            .notification-details {
                padding: .25rem .75rem;
            }
            &:active {
                color: inherit;
                background: inherit;
            }
        }

    }
}



@media (max-width: 991px) {
.layout-sidebar-large {
    .main-header {
        .search-bar {
            width: 180px;
        }
        .menu-toggle {
            width: 24px;
            margin-right: 36px;
        }
    }
}
}

@media (max-width: 780px) {
.layout-sidebar-large {
.main-header {
    .search-bar {
        display: none;
    }
}
}
}

@media (max-width: 767px) {
.layout-sidebar-large {
    .main-header {
        .menu-toggle {
            width: 24px;
            margin-right: 36px;
        }
    }
}
}

@media (max-width: 576px) {
.layout-sidebar-large {
    .main-header {
        height: $topbar-height-mobile;
        padding: 0 1.5rem;
        .logo {
            width: 60px;
        }
        .search-bar {
            display: none;
        }
        .menu-toggle {
            width: 60px;
        }
        .header-part-right {
            .user {
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
    .notification-dropdown {
        left: -180px !important;
    }
}


}

@media (max-width: 360px) {
.layout-sidebar-large {
    .main-header {
        .menu-toggle {
            margin: 0;
        }
    }
  }
}

.logo-white {
  margin: auto;
  width: 141px;
  padding-top: 23px;
  padding-bottom: 33px;
  img {
    width: 133px;
    height: 60px;
    display: block;

  }
}
