.wrapper {
    padding-top: 20px;
    margin-left: 5px;
  
  
    h1 {
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 132%;
      display: flex;
      align-items: center;
      color: #00644E;
    }
    button.btn.btn-primary.btn {
      height: 38px;
      border: 0;
    }
    filter {
      button {
        border-color: black;
      }
  
    }
    .col-md-2.form-group.filter {
      text-align: center;
      margin-right: -47px;
  }
    .form-datePicker{
      background-color: #FFFFFF;
      // border: 1px solid #B3B3B3;
      color: #B2B2B2;
    }
    ::placeholder {
      color: #B2B2B2;
    }
    .input-group-append {
  
    }
  //   .chart {
  //     div {
  //       position: absolute;
  //       left: 0px;
  //       top: 0px;
  //       width: 123%;
  //       height: 417px;
  //       user-select: none;
  //       -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  //       padding: 0px;
  //       margin: 0px;
  //       border-width: 0px;
  //       margin-left: -105px;
  //     }
  //   }
  //   .echart {
  //     width: 118%;
  //     margin-left: -67px;
  // }
  // .group_top {
  //   margin-top: 35px;
  //   width: 70%;
  //   display: flex;
  //   justify-content: center;
  //   flex-direction: column;
  // }
    .card-filter{
      background: #FAFAFA;
      border: 1px solid #DDDDDD;
      box-sizing: border-box;
      padding: 6px 15px 29px 15px;
  
      position: relative;
    }
  
    .card-filter-title {
      background-color: #FAFAFA;
      position: absolute;
      height: 24.61px;
      top: -10px;
      padding-left: 6px;
      padding-right: 6px;
      span {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 132%;
        color: #00644E;
      }
    }
  
    .group-cards{
      padding-top: 35px;
      padding-bottom: 45px;
      width: 88%;
      margin: auto;
    }
    .card_top {
      width: 53px;
      height: 21px;
      width: 53px;
      height: 21px;
      border-radius: 3px;
      display: flex;
      padding: 3px;
      margin-left: 5px;
      img {
        margin-right: 2px;
      }
    }
    .green {
      background-color: #C3EE83;
      color: #489019;
    }
    .red {
      background-color: #FE9F99;
      color: #B52A54;
    }
    .title {
      display: flex;
      align-items: center;
      > span {
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        color: #2C2C2C;
      }
    }
    .description {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #8E8E8E;
    }
  }
  
  .header-hr {
    margin: 0 25px;
    hr{
      border: none;
      border-left: 1px solid #dddddd;
      height: 38px;
      width: 1px;
    }
  }
  
  .card_info {
    color: #fff;
    padding: 6px;
    text-align: center;
    margin: auto;
    border-radius: 3px;
    width: 111px;
  }
  .card_green {
    background-color: #00644E;
    border-color: #00644E;
  }
  .card_orange {
    background-color: #B54C00;
    border-color: #B54C00;
  }
  .card_red {
    background-color: #B50B00;
    border-color: #B50B00;
  }
  
  .tableItem {
    cursor: pointer;
    color: #4267B2;
  }
  
  .datePicker {
    width: 9% !important;
  }
  
  .widthInput {
    width: 13% !important;
  }
  
  .inputReadonly {
    width: 14.5% !important;
  }
  
  .widthSelect {
      margin-top: 2px;
      margin-right: 1%;
      width:15%;
  }
  
  
  .group-icon-input {
    float: right;
    display: flex;
    align-items: center;
    justify-content: left;
    background: transparent;
    position: relative;
    div {
      position: absolute;
      right: 6px;
      cursor: pointer;
    }
  }
  
  .group-icon-select {
    float: right;
    display: flex;
    align-items: center;
    justify-content: left;
    background: transparent;
    position: relative;
    div {
      position: absolute;
      right: 0;
      cursor: pointer;
      width: 30px;
  
    }
  }
  
  .select-icon {
    background-color: #00644E;
    height: 30px;
    padding: 0 10px;
  
  }
  
  
  label {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 132%;
  
    color: #747474;
    margin-bottom: 2px!important;
  }
  
  .form-group, .form-control  {
    border-radius: 0!important;
    height: 30px!important;
    font-size: 12px;
  }
  
  .info_square {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 8px;
  }
  
  .square {
    width: 15px;
    height: 15px;
    margin-left: 30px;
  }
  
  .gray{
    background-color: #E3EFEC;
  }
  .orange {
    background-color: #FCCFB7;
  }
  .red {
    background-color: #E5B2AF;
  }
  span.square_text {
    margin-left: 6px;
    font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 132%;
  /* or 16px */
  
  display: flex;
  align-items: center;
  
  /* Colors/Gray6 */
  
  color: #747474;
  
  }
  
  
  
  // @media
  
  
  @media (max-width: 1428px) {
    // .datePicker {
    //   width: 9% !important;
    // }
  
    // .widthInput {
    //   width: 12.4% !important;
    // }
    // .widthSelect {
    //   margin-top: 2px;
    //   margin-right: 1%;
    //   width:15%;
    // }
  }
  
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1280px ) and (max-width : 1483px) {
      .datePicker {
        width: 9% !important;
      }
  
      .widthInput {
        width: 11.8% !important;
      }
      .widthSelect {
        margin-top: 2px;
        margin-right: 1%;
        width:15%;
      }
    }
  
    /* Large screens ----------- */
    @media only screen  and (min-width : 1484px) {
      .datePicker {
        width: 9% !important;
      }
  
      .widthInput {
        width: 12.2% !important;
      }
      .widthSelect {
        margin-top: 2px;
        margin-right: 1%;
        width:15%;
      }
    }
    @media only screen  and (min-width : 1600px) {
      .datePicker {
        width: 9% !important;
      }
  
      .widthInput {
        width: 12.5% !important;
      }
      .widthSelect {
        margin-top: 2px;
        margin-right: 1%;
        width:15%;
      }
    }
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
      .widthInput {
        width: 13% !important;
      }
      .radios[_ngcontent-uxs-c181] .form-check-label[_ngcontent-uxs-c181] {
        font-family: "Lato";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 132%;
        display: flex;
        align-items: center;
        margin-right: 29px;
    }
  }
  
.inputSearch {
  width: 40% !important;
}
    
.search-form {
  input {
      width: 325px;
      color: #212121;
      font-size: .8rem;
      line-height: 2;
      height: 100%;
      outline: initial!important;
      padding: .5rem 1rem;
      width: calc(100% - 32px);
  }
  .search-icon {
      font-size: 18px;
      width: 28px;
      display: inline-block;
      background-color: #00644E;
      text-align: center;
      padding-top: 4px;


  }
  .form-search  {
    display: flex;
    path  {
      fill: #FFFFFF !important;
    }
  }
}

.btn-block-outline {
  background-color: #fff;
  color: #004F3E;
  width: 213px;
  height: 31px; 
  margin-bottom: 16px;
  border: 2px solid #004F3E;
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px; 
  border-radius: 9px;

/* Colors/Green1 */

  color: #00644E;
}

.btn-block-outline-2 {
  background-color: #fff;
  color: #004F3E; 
  height: 40px; 
  margin-bottom: 16px;
  border: 2px solid #004F3E;
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px; 
  border-radius: 9px;
  margin-right: 12px;
  width: 100%;
  
/* Colors/Green1 */

  color: #00644E;
}

.btn_trans {
  margin-top: 15%;  
  position: absolute;
  right: 5%;
  /* left: 69%; */
  top: -2%;
  width: 37%;
}

button.btn.btn-primary.btn {
  height: 38px;
  border: 0;
  
}

.card-group-search {
  display: flex;
  justify-content: space-between;
}

.datePicker-form {
  width: 100%;
}

.group-icon-input  {
  width: 80%;
  /* float: right; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  height: 102px;
  margin: auto;
  margin-right: 9%;
}

.wrapper .form-datePicker {
  background-color: #dddddd;
  color: #B2B2B2;
}

.card-right {
  position: absolute;
  right: 0;
  top: 39px;
  width: 180px;
}

.card-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 132%;
  /* identical to box height, or 20px */

  display: flex;
  align-items: center;

  /* Colors/Green1 */

  color: #00644E;
}
.card-description {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 132%;
  /* or 16px */

  display: flex;
  align-items: center;

  /* Colors/Gray6 */

  color: #747474;
}

.linha-vertical {
  position: absolute;
  right: 15.3%;
  top: 52px;
  height: 114px;
  border-left: 1px solid #DDDDDD;
}

.btn-block-1 {
  background-color: #00644E;
  color: #fff;
  width: 115px;
  height: 43px;
  font-size: 16px;
  margin-bottom: 24px;
  border-radius: 9px;
}
.btn-block-outline-3 { 
  width: 115px;
  height: 43px;
  font-size: 16px;
  margin-bottom: 24px;
  border-radius: 9px;

  background-color: #fff;
  color: #004F3E;
  border: 2px solid #004F3E; 
}
.btn-block-3{
  background-color: #00644E;
  color: #fff;
  width: 95px;
  height: 35px;
  font-size: 16px;
  margin-bottom: 0px;
  border-radius: 6px;
}
.btn-block-outline-1 {
  background-color: #fff;
  color: #5EC4AE;
  width: 183px;
  height: 43px;
  font-size: 16px;
  margin-bottom: 24px;
  border: 2px solid #5EC4AE;
  border-radius: 9px;
}
.tipo_retirada {
  width: 25%;
}

.frete_despacho {
  width: 18%;
}

.limit_description {
  color: #747474;
  padding: 36px 0px 13px 2px;

  input {
    margin-left: 35px;
    margin-top: -5px;
    width: 25px;
    height: 30px;
  }
}

.btn_large {
  width: 217px;
}
.btn_gray {
  background: #585B62;
  border: 2px solid #585B62;
  color: #fff;

}

.btn_add img{
  cursor: pointer;
}

.text_botton_add {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;

  color: #00644E;
  margin-left: 5px;
  cursor: pointer;
}
// .btn_more {
//   margin-top: 8%;
// }

.modalInsert {
}

.modal-dialog {
  max-width: 720px!important;
  min-height: 662px;
  margin: 1.75rem auto;
}
.button-outline-white {
  background: #00644E;

  border: 1.5px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 14px;
}

.button-white {
  background-color: #FFFFFF;
  color: #00644E;
  border-radius: 5px;
  font-size: 14px;

}
.button-green {
  background-color: #00644E;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 16px;
  padding: 7px 23px;
}


@media (max-width: 1428px) {
  .btn_more {
    margin-top: 10.7%;
  }
}

  /* Desktops and laptops ----------- */
  @media only screen  and (min-width : 1280px ) and (max-width : 1483px) { 
    .btn_more {
      margin-top: 8%;
    }
  }

  /* Large screens ----------- */
  @media only screen  and (min-width : 1484px) { 
    .btn_more {
      margin-top: 10.7%;
    }
  }
  @media only screen  and (min-width : 1600px) { 
    .btn_more {
      margin-top: 9.2%;
    }
    .form-check-inline {
      display: inline-flex;
      align-items: center;
      padding-left: 0;
      margin-right: 1.75rem;
    }
  }
  /* Large screens ----------- */
  @media only screen  and (min-width : 1824px) {
    .btn_more {
      margin-top: 8%;
    }
    .form-check-inline {
      display: inline-flex;
      align-items: center;
      padding-left: 0;
      margin-right: 1.75rem;
    }
  }



  
.card_title_modal {
  width: 173px;
  margin-top: 41px;
  margin-bottom: 16px;
}

.title_info_modal {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 132%;
  /* identical to box height, or 16px */
  
  display: flex;
  align-items: center;
  
  /* Colors/Gray6 */
  
  color: #747474;
}

.value_info_modal {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 132%;
  /* identical to box height, or 32px */

  display: flex;
  align-items: center;

  /* Colors/Green1 */

  color: #00644E;
}

.blue3 {
  color: #51A2C9;
}