
<div class="wrapper table_green_add" >
    
<div class="row justify-content-between align-items-center px-3">
  <div class="col-ml-12" style="margin-bottom: 30px;">
    <h1>Criar novo orçamento</h1>
  </div>
</div>


<mat-horizontal-stepper #stepper>
  <mat-step label="Cliente, pagamento e frete" state="done">
     

      <ng-template mat-tab-label>
        <mat-icon class="tabs_new-budget">check_circle</mat-icon>
        Cliente, pagamento e frete
      </ng-template>
      

      <div class="card-filter mt-5">
        <div class="card-filter-title">
          <span>Dados do orçamento</span>
        </div>
        <form [formGroup]="form"> 
    
          <div class="d-flex align-items-start">
    
            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 10%;">
              <label for="filial" >Filial</label>
              <input type="text" class="form-control filter-input-details" id="filial" readonly>
            </div>
    
            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 12%;">
              <label for="type_sale" >Tipo de venda</label>
              <input type="text" class="form-control filter-input-details" id="type_sale" readonly>
            </div>

            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 14%;">
              <label for="region_price" >Preço da região</label>
              <input type="text" class="form-control filter-input-details" id="region_price" readonly>
            </div>

            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 8%;">
              <label for="orc_filial" >Nº Orç. Filial</label>
              <input type="text" class="form-control filter-input-details" id="orc_filial" readonly>
            </div>
             
            <div class=" form-group input_text_date" style="margin-top: 21px; margin-right: 20px; width: 10%;">
              <label for="date">Data</label>
              <input type="text" class="form-control" id="date" readonly >
              <div class="date_input" aria-label="search" inlineSVG="../../../assets/icons/date_gray.svg"></div>
            </div> 
    

            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 8%;">
              <label for="order" >Pedido</label>
              <input type="text" class="form-control filter-input-details" id="order" readonly>
            </div>

            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 8%;">
              <label for="note" >Nota</label>
              <input type="text" class="form-control filter-input-details" id="note" readonly>
            </div>

            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 8%;">
              <label for="status" >Status</label>
              <input type="text" class="form-control filter-input-details" id="status" readonly>
            </div>

            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 12%;">
              <label for="phase" >Fase</label>
              <input type="text" class="form-control filter-input-details" id="phase" readonly>
            </div>

            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 8%;">
              <label for="situation" >Situação</label>
              <input type="text" class="form-control filter-input-details" id="situation" readonly>
            </div>

            <div class="form-group" style="margin-top: 21px; width: 12%;">
              <label for="authorization" >Autorização</label>
              <input type="text" class="form-control filter-input-details" id="authorization" readonly>
            </div>
    
          </div>
        </form>
      </div> 

      <div class="card-group-search">
        <div class="card-filter mt-5" style="width: 75%; padding: 0px 15px 0px 15px;">
          <div class="card-filter-title">
            <span>Busca detalhada por</span>
          </div>
          <form [formGroup]="form" style="display: flex;flex-direction: row; align-items: flex-end;">
            <div class="radios mb-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchClient" id="razaoSocial" value="razaoSocial">
                <label class="form-check-label" for="razaoSocial">Razão social</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchClient" id="cod" value="cod">
                <label class="form-check-label" for="cod">Código</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchClient" id="fant" value="fant">
                <label class="form-check-label" for="fant">Fantasia</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchClient" id="cnpj" value="cnpj">
                <label class="form-check-label" for="cnpj">CNPJ</label>
              </div>
            </div> 
            
            <div class="search-form inputSearch"  >
              <div class="form-group form-search " style="margin-top: 37px; margin-right: 20px; " >
                <input type="text" class="form-control" placeholder="Informe o dado para busca do cliente">
                <div class="search-icon" aria-label="search" inlineSVG="../../../assets/icons/search.svg"></div>
              </div>
            </div>
    
            <button class="btn btn-rounded btn-block-outline mt-2" >
              Realizar busca detalhada
            </button>
    
          </form>
        </div>
    
        <div class="card-filter  mt-5" style="width: 23%; padding: 0px 15px 0px 15px;">
          <div class="card-filter-title">
            <span>Última Atualização</span>
          </div>
          <div class=" form-group input_text_date" style="margin-top: 21px; margin-right: 20px; width: 100%;">
            <label for="date">Data</label>
            <input type="text" class="form-control" id="date" readonly >
            <div class="date_input" aria-label="search" inlineSVG="../../../assets/icons/date_gray.svg"></div>
          </div> 
          <!-- <div class="datePicker-form form-group"> 
            <div class="group-icon-input">
              <input
                id="picker"
                type="text"
                #datepickerDe="bsDatepicker"
                class="form-control form-datePicker"
                bsDatepicker 
              >
              <div  (click)="datepickerDe.toggle()" class="picker-icon" aria-label="My icon" inlineSVG="../../../assets/icons/date.svg"></div>
            </div>

          </div> -->
        </div>
      
      </div>

      <div class="card-filter mt-5">
        <div class="card-filter-title">
          <span>Dados do Cliente</span>
        </div>
        <form [formGroup]="form"> 
    
          <div class="d-flex align-items-start">
    
            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 17%;">
              <label for="name" >Nome</label>
              <input type="text" class="form-control filter-input-details" id="name" readonly>
            </div>
    
            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 15%;">
              <label for="cpf/cnpj" >CPF/CNPJ</label>
              <input type="text" class="form-control filter-input-details" id="cpf/cnpj" readonly>
            </div>

            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 15%;">
              <label for="ins_state" >Inscrição Estadual</label>
              <input type="text" class="form-control filter-input-details" id="ins_state" readonly>
            </div>

            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 15%;">
              <label for="email" >E-mail</label>
              <input type="text" class="form-control filter-input-details" id="email" readonly>
            </div>
            <div class="form-group" style="margin-top: 21px;  width: 15%;">
              <label for="email_alternati" >E-mail Alternativo</label>
              <input type="text" class="form-control  " id="email_alternati">
            </div>
  
          </div>

          <div class="d-flex align-items-start">
    
            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 10%;">
              <label for="telefone" >Telefone</label>
              <input type="text" class="form-control filter-input-details" id="telefone" readonly>
            </div>
    
            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 22%;">
              <label for="endereco" >Endereço</label>
              <input type="text" class="form-control filter-input-details" id="endereco" readonly>
            </div>

            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 5%;">
              <label for="numero" >Número</label>
              <input type="text" class="form-control filter-input-details" id="numero" readonly>
            </div>

            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 12%;">
              <label for="bairro" >Bairro</label>
              <input type="text" class="form-control filter-input-details" id="bairro" readonly>
            </div> 
            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 14%;">
              <label for="municipio" >Município</label>
              <input type="text" class="form-control filter-input-details" id="municipio" readonly>
            </div> 
            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 4%;">
              <label for="uf" >UF</label>
              <input type="text" class="form-control filter-input-details" id="uf" readonly>
            </div> 
            <div class="form-group" style="margin-top: 21px;; width: 7%;">
              <label for="zipcode" >CEP</label>
              <input
                type="text" 
                class="form-control filter-input-details" 
                id="zipcode" 
                readonly>
            </div> 
  
          </div>
          <div class="linha-vertical"></div>
          <div class="card-right">
            <p class="card-title">Endereço de Cobrança</p>
            <p class="card-description">Informe um novo endereço para <br> cobrança.</p>
            <button class="btn btn-rounded btn-block-outline mt-2" style="width: 160px!important;">
              Cadastrar Endereço
            </button>
          </div>
        </form>
      </div> 

      <div class="card-group-search">
        <div class="card-filter mt-5" style="width: 49%; padding: 0px 15px 0px 15px;">
          <div class="card-filter-title">
            <span>NF-e e Dados do Responsável</span>
          </div>
          <form [formGroup]="form"> 
    
            <div class="d-flex align-items-start">
      
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 50%;">
                <label for="E-mail_NF-e" >E-mail NF-e</label>
                <input type="text" class="form-control filter-input-details" id="E-mail_NF-e" readonly>
              </div>
      
              <div class="form-group" style="margin-top: 21px; width: 50%;">
                <label for="contato" >Contato</label>
                <input type="text" class="form-control filter-input-details" id="contato" readonly>
              </div>
            </div>
    
            <div class="d-flex align-items-start">
      
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 29%;">
                <label for="whatsapp" >WhatsApp/SMS</label>
                <input 
                  mask="(00) 00000-0000" 
                  type="text" 
                  class="form-control" 
                  id="whatsapp" 
                  placeholder="(xx) xxxxx-xxxx"
                >
              </div>
      
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 29%;">
                <label for="orcado_por" >Orçado por</label>
                <input type="text" class="form-control" id="orcado_por">
              </div> 
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 25%;">
                <label for="filial_de_origem" >Filial de origem</label>
                <input type="text" class="form-control filter-input-details" id="filial_de_origem" readonly>
              </div> 
            
              <div class="form-group" style="margin-top: 21px; margin-right: 5px; width: 5%;">
                <label for="representante" >Representante</label>
                <input type="text" class="form-control filter-input-details" id="representante" readonly>
              </div> 
            
              <div class="form-group" style="margin-top: 21px; width: 25%;">
                <label for="representante" ></label>
                <input type="text" class="form-control filter-input-details" id="representante" readonly>
              </div> 
            </div> 
          </form>
        </div>
    
        <div class="card-filter  mt-5" style="width: 49%; padding: 0px 15px 15px 15px;">
          <div class="card-filter-title">
            <span>Situação Financeira</span>
          </div>
          <form [formGroup]="form"> 
    
            <div class="d-flex align-items-start">
      
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 25%;">
                <label for="valor-receber">Valor a receber</label>
                <input type="text" class="form-control filter-input-details" id="valor-receber" readonly>
              </div>
      
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 25%;">
                <label for="vendedor" >Contato</label>
                <input type="text" class="form-control filter-input-details" id="contato" readonly>
              </div>
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 25%;">
                <label for="valor-separacao">Valor separação</label>
                <input type="text" class="form-control filter-input-details" id="valor-separacao" readonly>
              </div>
              <div class="form-group" style="margin-top: 21px; width: 25%;">
                <label for="bloqueio-SEFAZ">Bloqueio SEFAZ</label>
                <input type="text" class="form-control filter-input-details" id="bloqueio-SEFAZ" readonly>
              </div>
            </div>
    
            <div class="d-flex align-items-start">
      
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 25%;">
                <label for="valor-disponivel" >Valor disponível</label>
                <input type="text" class="form-control" id="valor-disponivel" readonly>
              </div>
      
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 25%;">
                <label for="orcado_por" >Saldo</label>
                <input type="text" class="form-control" id="orcado_por" readonly>
              </div>

              <div class="form-group" style="margin-top: 21px; margin-right: 5px; width: 10%;">
                <label for="bloqueado" >Bloqueado? </label>
                <input type="text" class="form-control filter-input-details" id="bloqueado" readonly>
              </div> 
            
              <!-- <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 18%;">
                <label for="data-bloqueado" > - Data</label>
                <input type="text" class="form-control filter-input-details" id="data-bloqueado" readonly>
              </div> -->

              <div class=" form-group input_text_date" style="margin-top: 21px; margin-right: 20px; width: 18%;">
                <label for="data-bloqueado">- Data</label>
                <input type="text" class="form-control" id="data-bloqueado" readonly >
                <div class="date_input" aria-label="search" inlineSVG="../../../assets/icons/date_gray.svg"></div>
              </div> 
              
              
              <div class="form-group" style="margin-top: 21px; width: 18%;">
                <label for="saldo" >% Dif.</label>
                <input 
                  mask="0,00" 
                  type="text" 
                  class="form-control" 
                  id="saldo" 
                  placeholder="0,00"
                >
              </div> 

            </div> 
          </form>
        </div>
        
      </div>

      <div class="card-group-search">
        <div class="card-filter mt-5" style="width: 39%; padding: 0px 15px 0px 15px;">
          <div class="card-filter-title">
            <span>Vendedor</span>
          </div>
          <form [formGroup]="form"> 
    
            <div class="d-flex align-items-start">
      
              <div class="form-group" style="margin-top: 21px; margin-right: 10px; width: 10%;">
                <label for="rca1" >RCA1</label>
                <input type="text" class="form-control filter-input-details" id="rca1" readonly>
              </div>
      
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 40%;">
                <label for="nome-do-vendedor" >Nome do Vendedor</label>
                <input type="text" class="form-control filter-input-details" id="nome-do-vendedor" readonly>
              </div>
      
              <div class="form-group" style="margin-top: 21px;  width: 50%;">
                <label for="rca2" >RCA2</label>
                <input type="text" class="form-control filter-input-details" id="rca2" readonly>
              </div>
            </div> 
          </form>
        </div>
    
        <div class="card-filter  mt-5" style="width: 22%; padding: 0px 15px 15px 15px;">
          <div class="card-filter-title">
            <span>Tipo e Condição de Orçamento</span>
          </div>
          <form [formGroup]="form" style="display: flex;flex-direction: row; align-items: flex-end; ">
            <div style="width: 54%; margin-top: 9%;">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchClient" id="apanha" value="apanha">
                <label class="form-check-label" for="apanha">A - Apanha</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchClient" id="entrega" value="entrega">
                <label class="form-check-label" for="entrega">E - Entrega</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchClient" id="trnsportadora" value="trnsportadora">
                <label class="form-check-label" for="trnsportadora">T - Transportadora</label>
              </div> 
            </div> 

            <div class="form-check" style="width: 46%; position: absolute; right: 0; top: 18%;" >
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Não negociado
              </label>
            </div> 
          </form>
        </div>

        <div class="card-filter  mt-5" style="width: 34%; padding: 0px 15px 15px 15px;">
          <div class="card-filter-title">
            <span>Condição de Tributação</span>
          </div>
          <form [formGroup]="form"> 
    
            <div class="d-flex align-items-start">
      
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 10%;">
                <label for="c">C</label>
                <input type="text" class="form-control filter-input-details" id="c" readonly>
              </div>
      
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 10%;">
                <label for="cf" >CF</label>
                <input type="text" class="form-control filter-input-details" id="cf" readonly>
              </div>
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 10%;">
                <label for="st">ST</label>
                <input type="text" class="form-control filter-input-details" id="st" readonly>
              </div>
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 10%;">
                <label for="difal">DIFAL</label>
                <input type="text" class="form-control filter-input-details" id="difal" readonly>
              </div>
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 10%;">
                <label for="part">PART</label>
                <input type="text" class="form-control filter-input-details" id="part" readonly>
              </div>

              <div class="btn_more"> 
                <button class="btn btn-rounded btn-block-outline" style="width: 52px!important;">
                  Mais
                </button>
              </div>
            
            </div>
    
          </form>
        </div>
        
      </div>

      <div class="card-group-search">
        <div class="card-filter mt-5" style="width: 25%; padding: 0px 15px 15px 15px;">
          <div class="card-filter-title">
            <span>Dados Complementares</span>
          </div>
          <form [formGroup]="form"> 
    
            <div class="d-flex align-items-start w-100"> 
              <div class="form-group" style="margin-top: 21px; width: 100%; min-height: 100px;">
                <label for="observacao">Observação</label>
                <textarea style=" height: 100px!important;" class="form-control h-100" id="observacao" rows="4" readonly ></textarea>
              </div>
            </div> 
          </form>
        </div>
    
        <div class="card-filter  mt-5" style="width: 32%; padding: 0px 15px 15px 15px;">
          <div class="card-filter-title">
            <span>Condições de Pagamento</span>
          </div>
          <form [formGroup]="form" style="display: flex;flex-direction: row; align-items: flex-end; ">
            <div style="width: 30%;margin-top: 5%;">
              <label for="tipo-vencimento-check">Tipo de vencimento</label>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchClient" id="nomal" value="nomal">
                <label class="form-check-label" for="nomal">Normal</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchClient" id="diferenciado" value="diferenciado">
                <label class="form-check-label" for="diferenciado">Diferenciado</label>
              </div> 

              <div style="margin-top: 8%;"> 
                <button class="btn btn-rounded btn-block-outline mt-2" style="width: 110px!important;">
                  Vencimento
                </button>
              </div>
            </div> 

            <div class="form-check" style="width: 53%; position: absolute; right: 5%; top: 11%;" >
              <div class="form-group" style="display: flex; flex-direction: column; width: 100%;" class="widthSelect">
                <label for="typeClient">Forma de pagamento</label>
                <div class="group-icon-select" style="margin-top: 1px;">
                  <select class="form-control" id="typeClient">
                    <option value="">Selecione uma opção</option> 
                  </select>
                  <!-- <div class="select-icon" aria-label="My icon" inlineSVG="../../../assets/icons/down-arrow.svg"></div> -->
                </div>
              </div>
            </div> 
            <div class="form-group" style="width: 11%;position: absolute;right: 43%;top: 54%;" > 
              <label for="typeClient" style="margin-right: 15px;width: 150px;">Plano de pagamento</label>
              <input type="text" class="form-control" id="saldo">
            </div> 
            <div class="form-check" style="width: 41%; position: absolute; right: 5%; top: 64%;" >
              <div class="form-group" style="display: flex; flex-direction: column; width: 100%;" class="widthSelect">
                
                <div class="group-icon-select" style="margin-top: 1px;">
                  <select class="form-control" id="typeClient"> 
                  </select>
                  <!-- <div class="select-icon" aria-label="My icon" inlineSVG="../../../assets/icons/down-arrow.svg"></div> -->
                </div>
              </div>
            </div> 
          </form>
        </div>

        <div class="card-filter  mt-5" style="width: 40%; padding: 0px 15px 15px 15px;">
          <div class="card-filter-title">
            <span>Tipo de Retirada e Transporte</span>
          </div>
          <form [formGroup]="form" style="display: flex;flex-direction: row; align-items: flex-end; ">
            <div class="mt-4" style="display: flex;flex-direction: row; align-items: baseline;">
              <div class="tipo_retirada">
                <label for="tipo-vencimento-check">Tipo de retirada</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="searchClient" id="nomal" value="nomal">
                  <label class="form-check-label" for="nomal">A - Apanha</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="searchClient" id="diferenciado" value="diferenciado">
                  <label class="form-check-label" for="diferenciado">E - Entrega</label>
                </div>  
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="searchClient" id="diferenciado" value="diferenciado">
                  <label class="form-check-label" for="diferenciado">T - Transportadora</label>
                </div>  
              </div> 

              <div class="frete_despacho">
                <label for="tipo-vencimento-check">Frete despacho</label>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="searchClient" id="nomal" value="nomal">
                  <label class="form-check-label" for="nomal">CIF</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="searchClient" id="diferenciado" value="diferenciado">
                  <label class="form-check-label" for="diferenciado">FOB</label>
                </div>  
              </div>  
            </div>
            
            <div class="form-group" style="width: 10%; position: absolute; right: 32%; top: 13%;" > 
              <label for="typeClient" style="width: 150px">Forma de pagamento</label> 
              <input type="text" class="form-control" id="saldo">
            </div> 
            
            <div class="form-group " style="width: 25%; position: absolute; right: 5%; top: 24%;" > 
              <input type="text" class="form-control" id="saldo">
            </div> 

            <div class="btn_trans"> 
              <button class="btn btn-rounded btn-block-outline-2 mt-2">
                Buscar Transportadora
              </button>
            </div>
  
          </form>
        </div>
        
      </div>

      <div class="d-flex flex-wrap justify-content-between mt-4 ">
        <button class="btn btn-rounded btn-block-outline-1 mt-2" (click)="stepper.reset()">
          Cancelar Orçamento
        </button>
        
        <button class="btn btn-rounded btn-block-1 mt-2" matStepperNext>
          Avançar
        </button>

      </div>
 



  </mat-step> 
  <mat-step [stepControl]="secondFormGroup" label="Adicionar itens ao pedido" state="home">
    
    <ng-template mat-tab-label>
      <mat-icon class="tabs_new-budget">check_circle</mat-icon>
      Adicionar itens ao pedido
    </ng-template>

    <div class="card-filter mt-5">
      <div class="card-filter-title">
        <span>Dados do orçamento</span>
      </div>
      <form [formGroup]="secondFormGroup">  
        <div class="d-flex align-items-start">
  
          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 8%;">
            <label for="filial" >Filial</label>
            <input type="text" class="form-control filter-input-details" id="filial" readonly>
          </div>
   
          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 11%;">
            <label for="n_orc_filial" >Nº Orç. Filial</label>
            <input type="text" class="form-control filter-input-details" id="n_orc_filial" readonly>
          </div>

          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 7%;">
            <label for="client" >Cliente</label>
            <input type="text" class="form-control filter-input-details" id="client" readonly>
          </div>

          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 20%;">
            <label for="teste" ></label>
            <input type="text" class="form-control filter-input-details" id="teste" readonly>
          </div>

          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 15%;">
            <label for="cnpj" >CNPJ</label>
            <input type="text" class="form-control filter-input-details" id="cnpj" readonly>
          </div>

          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 10%;">
            <label for="insc" >Insc. Estatual</label>
            <input type="text" class="form-control filter-input-details" id="insc" readonly>
          </div>

          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 12%;">
            <label for="county" >Município</label>
            <input type="text" class="form-control filter-input-details" id="county" readonly>
          </div>

          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 8%;">
            <label for="uf" >UF</label>
            <input type="text" class="form-control filter-input-details" id="uf" readonly>
          </div>

          <!-- <div class="form-group" style="margin-top: 21px; width: 12%;">
            <label for="date" >Data</label>
            <input type="text" class="form-control filter-input-details" id="date" readonly>
          </div> -->

          <div class=" form-group input_text_date" style="margin-top: 21px; width: 12%;">
            <label for="data">Data</label>
            <input type="text" class="form-control" id="data" readonly >
            <div class="date_input" aria-label="search" inlineSVG="../../../assets/icons/date_gray.svg"></div>
          </div> 
          
  
        </div>
      </form>
    </div> 

    <div class="card-filter mt-5">
      <div class="card-filter-title">
        <span>Buscar Produtos</span>
      </div>
      <form [formGroup]="form"> 
  
        <div class="d-flex align-items-start">
  
          <div class="form-group" style="margin-top: 21px; margin-right: 10px; width: 5%;">
            <label for="depart" >Departamento</label>
            <input type="text" class="form-control filter-input-details" id="depart" placeholder="Código">
          </div>
   
          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 15%;">
            <label for="depar_descr" ></label>
            <input type="text" class="form-control filter-input-details" id="depar_descr" placeholder="Descrição do Departamento">
          </div>

          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 8%;">
            <label for="cod_product" >Cód. Produto UE</label>
            <input type="text" class="form-control filter-input-details" id="cod_product">
          </div>

          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 10%;" >
            <label for="des_product" >Descrição do Produto</label>
            <input type="text" class="form-control filter-input-details" id="des_product">
          </div>

          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 11%;">
            <label for="ref_manufacturer" >Ref. fabricante</label>
            <input type="text" class="form-control filter-input-details" id="ref_manufacturer">
          </div>

          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 10%;">
            <label for="packing" >Embalagem</label>
            <input type="text" class="form-control filter-input-details" id="packing">
          </div>

          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 11%;">
            <label for="customer_product" >Produto do Cliente</label>
            <input type="text" class="form-control filter-input-details" id="customer_product">
          </div>

          <div class="form-check" style="width: 12%;position: absolute;right: 10%;top: 27%;" >
            <div class="form-group" style="display: flex; flex-direction: column; width: 100%;" class="widthSelect">
              <label for="typeClient">Seleção de produto</label>
              <div class="group-icon-select" style="margin-top: 1px;">
                <select class="form-control" id="typeClient">
                  <option value="">Com Estoque</option> 
                </select>
              </div>
            </div>
          </div> 

          <div style="position: absolute;right: 13px;bottom: 23px;">
            <button class="btn btn-rounded btn-block-3 mt-2">
              Buscar
            </button>
          </div>
  
        </div>
      </form>
    </div>

    <div class="card-filter mt-5">
      <div class="card-filter-title">
        <span>Resultados da busca</span>
      </div>
  
        <ngx-datatable  class='bootstrap no-detail-row mt-3'
        [columnMode]="'force'"
        [footerHeight]="4"
  
        [rowHeight]="40"
        [rows]="rows"
        [loadingIndicator]="true"
        [scrollbarV]="true"
        [scrollbarH]="true"
        [limit]="10"
        style="width: 100%; min-height: 300px"
        >
        
        <ngx-datatable-column name="ADD" class="btn_add_header" [width]="70">
          <ng-template class="btn_add" let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <img *ngIf="!row.qtde"  src="../../../assets/icons/icon_plus.png" alt="" srcset="" style="cursor: pointer;" (click)="addItemTable(row)">
            <img *ngIf="row.qtde" src="../../../assets/icons/icon_plus_green.png" alt="" srcset="" style="cursor: pointer;" (click)="addItemTable(row)">
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="QTDE." prop="qtde"  [width]="80" >
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template> 
            <input 
              type="value" 
              class="form-control" 
              id="filial" 
              [value]="row.qtde"
              style="width: 40px; margin: auto;"
            >
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="código" prop="cod" [width]="100" ></ngx-datatable-column>
        <ngx-datatable-column name="DESCRIÇÂO DO PRODUTO" prop="desc_product" [width]="350" ></ngx-datatable-column>
        <ngx-datatable-column name="NCM" prop="ncm"  [width]="120"></ngx-datatable-column>
        <ngx-datatable-column name="UNID" prop="unid" [width]="100"></ngx-datatable-column>
        <ngx-datatable-column name="REF. FAB." prop="ref_fab" [width]="120"></ngx-datatable-column>
        <ngx-datatable-column name="EMB." prop="emb" [width]="160" ></ngx-datatable-column>
        <ngx-datatable-column name="PÇO. TABELA" prop="pc_table"[width]="160" ></ngx-datatable-column>
        <ngx-datatable-column name="Desconto" prop="dec" [width]="160"></ngx-datatable-column>
        <ngx-datatable-column name="PÇO. LÍQUIDO" prop="pc_liquid" [width]="160"></ngx-datatable-column>
        <ngx-datatable-footer></ngx-datatable-footer>
      </ngx-datatable>

      <div style="display: flex; justify-content: flex-end;" class="pt-3" (click)="open(content)">
        <img src="../../../assets/icons/add_item.png" alt="" srcset="">
        <span class="text_botton_add">Adicionar item avulso</span>
      </div>
    </div>

    <div class="card-filter mt-5">
      <div class="card-filter-title">
        <span>Itens do Pedido</span>
      </div>
  
        <ngx-datatable  class='bootstrap no-detail-row mt-3'
        [columnMode]="'force'"
        [footerHeight]="4"
  
        [rowHeight]="40"
        [rows]="rows_item"
        [loadingIndicator]="true"
        [scrollbarV]="true"
        [scrollbarH]="true"
        [limit]="10"
        style="width: 100%; min-height: 150px"
        >
        
        <ngx-datatable-column name="DELL" class="btn_add_header" [width]="70" >
          <ng-template class="btn_add" let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <img src="../../../assets/icons/remove_item.png" alt="" srcset="" style="cursor: pointer;" (click)="removeItemTable(row)"> 
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="QTDE." prop="qtde"  [width]="80" >
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template> 
            <input 
              type="value" 
              class="form-control" 
              id="filial" 
              [value]="row.qtde"
              style="width: 40px; margin: auto;"
            >
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="código" prop="cod" [width]="100" ></ngx-datatable-column>
        <ngx-datatable-column name="DESCRIÇÂO DO PRODUTO" prop="desc_product" [width]="350" ></ngx-datatable-column>
        <ngx-datatable-column name="NCM" prop="ncm"  [width]="100"></ngx-datatable-column>
        <ngx-datatable-column name="UNID" prop="unid" [width]="80"></ngx-datatable-column>
        <ngx-datatable-column name="REF. FAB." prop="ref_fab" [width]="100"></ngx-datatable-column>
        <ngx-datatable-column name="EMB." prop="emb" [width]="140" ></ngx-datatable-column>
        <ngx-datatable-column name="PÇO. TABELA" prop="pc_table"[width]="140" ></ngx-datatable-column>
        <ngx-datatable-column name="Desconto" prop="dec" [width]="140"></ngx-datatable-column>
        <ngx-datatable-column name="PÇO. LÍQUIDO" prop="pc_liquid" [width]="160"></ngx-datatable-column>
        <ngx-datatable-footer></ngx-datatable-footer>
      </ngx-datatable>
    </div> 

    <div class="d-flex flex-wrap justify-content-between mt-4 ">
      <button class="btn btn-rounded btn-block-outline-1 mt-2" (click)="stepper.reset()">
        Cancelar Orçamento
      </button>
      
      <div>
        <button class="btn btn-rounded btn-block-outline-3 mt-2 mr-3" matStepperPrevious
        (click)="this.secondFormGroup.reset()"  
        >
         Voltar
        </button>

        <button class="btn btn-rounded btn-block-1 mt-2"  matStepperNext (click)="secondSetForm()">
          Avançar
        </button>
      </div>
    </div>
 



       


  </mat-step> 
  <mat-step [stepControl]="tarFormGroup" label="Finalização do pedido" state="home">



    
    <ng-template mat-tab-label>
      <mat-icon class="tabs_new-budget">check_circle</mat-icon>
      Finalização do pedido
    </ng-template>

    <div class="card-filter mt-5">
      <div class="card-filter-title">
        <span>Dados do orçamento</span>
      </div>
      <form [formGroup]="form"> 
  
        <div class="d-flex align-items-start">
  
          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 8%;">
            <label for="filial" >Filial</label>
            <input type="text" class="form-control filter-input-details" id="filial" readonly required>
          </div>
   
          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 11%;">
            <label for="n_orc_filial" >Nº Orç. Filial</label>
            <input type="text" class="form-control filter-input-details" id="n_orc_filial" readonly>
          </div>

          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 7%;">
            <label for="client" >Cliente</label>
            <input type="text" class="form-control filter-input-details" id="client" readonly>
          </div>

          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 20%;">
            <label for="teste" ></label>
            <input type="text" class="form-control filter-input-details" id="teste" readonly>
          </div>

          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 15%;">
            <label for="cnpj" >CNPJ</label>
            <input type="text" class="form-control filter-input-details" id="cnpj" readonly>
          </div>

          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 10%;">
            <label for="insc" >Insc. Estatual</label>
            <input type="text" class="form-control filter-input-details" id="insc" readonly>
          </div>

          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 12%;">
            <label for="county" >Município</label>
            <input type="text" class="form-control filter-input-details" id="county" readonly>
          </div>

          <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 8%;">
            <label for="uf" >UF</label>
            <input type="text" class="form-control filter-input-details" id="uf" readonly>
          </div>

          <!-- <div class="form-group" style="margin-top: 21px; width: 12%;">
            <label for="date" >Data</label>
            <input type="text" class="form-control filter-input-details" id="date" readonly>
          </div> -->

          <div class=" form-group input_text_date" style="margin-top: 21px; width: 12%;">
            <label for="data">Data</label>
            <input type="text" class="form-control" id="data" readonly >
            <div class="date_input" aria-label="search" inlineSVG="../../../assets/icons/date_gray.svg"></div>
          </div> 
          
  
        </div>
      </form>
    </div> 


    <div class="card-filter mt-5">
      <div class="card-filter-title">
        <span>Itens do Pedido</span>
      </div>
  
        <ngx-datatable  class='bootstrap no-detail-row mt-3'
        [columnMode]="'force'"
        [footerHeight]="4"
  
        [rowHeight]="40"
        [rows]="rows_item"
        [loadingIndicator]="true"
        [scrollbarV]="true"
        [scrollbarH]="true"
        [limit]="10"
        style="width: 100%; min-height: 150px"
        >
        
        <ngx-datatable-column name="ATT" class="btn_add_header"[width]="70">
          <ng-template class="btn_add" let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <img *ngIf="!row.qtde"  src="../../../assets/icons/att.png" alt="" srcset="" style="cursor: pointer;">
            <img *ngIf="row.qtde" src="../../../assets/icons/att_green.png" alt="" srcset="" style="cursor: pointer;">
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="QTDE." prop="qtde"  [width]="80" >
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template> 
            <input 
              type="value" 
              class="form-control" 
              id="filial" 
              [value]="row.qtde"
              style="width: 40px; margin: auto;"
            >
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="código" prop="cod" [width]="100" ></ngx-datatable-column>
        <ngx-datatable-column name="DESCRIÇÂO DO PRODUTO" prop="desc_product" [width]="350" ></ngx-datatable-column>
        <ngx-datatable-column name="NCM" prop="ncm"  [width]="100"></ngx-datatable-column>
        <ngx-datatable-column name="UNID" prop="unid" [width]="80"></ngx-datatable-column>
        <ngx-datatable-column name="REF. FAB." prop="ref_fab" [width]="100"></ngx-datatable-column>
        <ngx-datatable-column name="EMB." prop="emb" [width]="140" ></ngx-datatable-column>
        <ngx-datatable-column name="PÇO. TABELA" prop="pc_table"[width]="140" ></ngx-datatable-column>
        <ngx-datatable-column name="Desconto" prop="dec" [width]="140"></ngx-datatable-column>
        <ngx-datatable-column name="PÇO. LÍQUIDO" prop="pc_liquid" [width]="160"></ngx-datatable-column>
        <ngx-datatable-footer></ngx-datatable-footer>
      </ngx-datatable>
    </div> 

    <div class="card-group-search" style="height: 483px;">
      <div class="card-filter mt-5" style="width: 49%; padding: 0px 15px 0px 15px;">
        <div class="card-filter-title">
          <span>Dados Complementares</span>
        </div>
        <form [formGroup]="form"> 
  
          <div class="d-flex align-items-start">

            <div class="d-flex align-items-start w-100"> 
              <div class="form-group" style="margin-top: 21px; width: 100%; min-height: 100px;">
                <label for="exampleFormControlTextarea1">Observações do orçamento</label>
                <textarea style=" height: 100px!important;" class="form-control h-100" id="exampleFormControlTextarea1" rows="4"  ></textarea>
              </div>
            </div> 

          </div>

          <div class="d-flex align-items-start">

            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 25%;">
              <label for="whatsapp" >CEP*</label>
              <input mask="00000-000" type="text" class="form-control" id="whatsapp">
            </div>
            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 33%;">
              <label for="whatsapp" >Endereço*</label>
              <input type="text" class="form-control" id="whatsapp">
            </div>
            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 9%;">
              <label for="whatsapp" >N°*</label>
              <input type="text" class="form-control" id="whatsapp">
            </div>
            <div class="form-group" style="margin-top: 21px; width: 29%;">
              <label for="whatsapp" >Bairro*</label>
              <input type="text" class="form-control" id="whatsapp">
            </div>

          </div>
  
          <div class="d-flex align-items-start">
    
            <!-- <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 29%;">
              <label for="whatsapp" >CEP*</label>
              <input type="text" class="form-control" id="whatsapp">
            </div> -->

            <div class="" style="margin-top: 21px; margin-right: 20px; width: 25%;" >
              <div class="form-group" style="display: flex; flex-direction: column; width: 100%;" class="widthSelect">
                <label for="typeClient">Estado*</label>
                <div class="group-icon-select" style="margin-top: 1px;">
                  <select class="form-control" id="typeClient">
                  </select>
                </div>
              </div>
            </div> 

            <div class="" style="margin-top: 21px; margin-right: 20px; width: 29%;" >
              <div class="form-group" style="display: flex; flex-direction: column; width: 100%;" class="widthSelect">
                <label for="typeClient">Cidade*</label>
                <div class="group-icon-select" style="margin-top: 1px;">
                  <select class="form-control" id="typeClient">
                  </select>
                </div>
              </div>
            </div>  
            
            <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 25%;">
              <label for="representante" >Contato</label>
              <input type="text" class="form-control filter-input-details" id="representante">
            </div>  

            <div class="form-group" style="margin-top: 21px; width: 25%;">
              <label for="filial_de_origem" >Telefone</label>
              <input type="text" class="form-control filter-input-details" id="filial_de_origem">
            </div> 
           
          </div> 


          <div class="d-flex align-items-start">

            <div class="d-flex align-items-start w-100"> 
              <div class="form-group" style="margin-top: 21px; width: 100%; min-height: 100px;">
                <label for="exampleFormControlTextarea1">Observações da nota</label>
                <textarea style=" height: 100px!important;" class="form-control h-100" id="exampleFormControlTextarea1" rows="4"  ></textarea>
              </div>
            </div> 

          </div>

          
          
        </form>
      </div>
  
      <div style="width: 49%;">
        <div class="card-filter  mt-5" style="width: 100%; padding: 0px 15px 15px 15px;">
          <div class="card-filter-title">
            <span>Volumes / Peso</span>
          </div>
          <form [formGroup]="form">

            <div class="d-flex align-items-start">
      
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 35%;">
                <label for="atd_volumes">Qtd. de volumes</label>
                <input type="text" class="form-control filter-input-details" id="atd_volumes" readonly placeholder="0.000000">
              </div>
       
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 35%;">
                <label for="especie" >Espécie</label>
                <input type="text" class="form-control filter-input-details" id="especie" readonly>
              </div>
              <div class="form-group" style="margin-top: 21px; width: 35%;">
                <label for="marca">Marca</label>
                <input type="text" class="form-control filter-input-details" id="marca" readonly>
              </div> 

            </div>

            <div class="d-flex align-items-start">
      
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 35%;">
                <label for="peso_bruto">Peso Bruto</label>
                <input type="text" class="form-control filter-input-details" id="peso_bruto" readonly placeholder="0.000000">
              </div>
       
              <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 35%;">
                <label for="peso_liquido" >Peso líquido</label>
                <input type="text" class="form-control filter-input-details" id="peso_liquido" readonly>
              </div>
              <div class="form-group" style="margin-top: 21px; width: 35%;">
                <label for="valor_frete">Valor do frete</label>
                <input type="text" class="form-control filter-input-details" id="valor_frete">
              </div> 
              
            </div>

          </form>
        </div>
        
        <div class="card-filter  mt-5" style="width: 100%; padding: 0px 15px 15px 15px;">
          <div class="card-filter-title">
            <span>Volumes / Peso</span>
          </div>
          <form [formGroup]="form"> 

            
            <div class="d-flex align-items-start">

              <div class="d-flex align-items-start w-75"> 
                <div class="form-group" style="margin-top: 21px; width: 100%; min-height: 100px;">
                  <label for="previsao_saida">Observações de previsão de saída</label>
                  <textarea style=" height: 100px!important;" class="form-control h-100" id="previsao_saida" rows="4" readonly></textarea>
                </div>
              </div>  

              <div style="display: flex; flex-direction: column;">
                <div class="form-group" style="margin-top: 21px; margin-left: 20px; width: 88%;">
                  <label for="valor-receber">Valor a receber</label>
                  <input type="text" class="form-control filter-input-details" id="valor-receber" readonly>
                </div>
        
                <div class="form-group" style="margin-top: 21px; margin-left: 20px; width: 88%;">
                  <label for="vendedor" >Contato</label>
                  <input type="text" class="form-control filter-input-details" id="contato" readonly>
                </div>
              </div>

            </div>
    
            <div class="d-flex align-items-start limit_description" > 
              <p>Limite de caracteres na impressão da descrição do produto</p> <input type="checkbox" name="limite" id="limite">
            </div>

          </form>
        </div>
      </div>
      
      
    </div> 

    <div class="d-flex flex-wrap justify-content-between mt-4 ">
      <button class="btn btn-rounded btn-block-outline-1 mt-2" (click)="stepper.reset()">
        Cancelar Orçamento
      </button>
      
      <div>
        <button 
          class="btn btn-rounded btn-block-outline-3 mt-2 mr-3" 
          matStepperPrevious
          (click)="this.tarFormGroup.reset()"
        >
         Voltar
        </button>

        <button class="btn btn-rounded btn-block-1 btn_large mt-2" (click)="openSales(SalesContent)">
          Enviar p/ autorização
        </button>

        <button class="btn btn-rounded btn-block-outline-3 btn_gray btn_large mt-2 ml-3">
          Enviar p/ separação
         </button>
      </div>
    </div>
    
  </mat-step> 
  
  <ng-template matStepperIcon="edit">
		<mat-icon>done</mat-icon>
	</ng-template>
 
  <ng-template matStepperIcon="done">
    <mat-icon>done</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="home">
    <mat-icon>done</mat-icon>
  </ng-template>
</mat-horizontal-stepper> 
  
</div>
  
<ng-template #content let-modal class="modalInsert">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cadastrar produto avulso</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <div class="wrapper table_green">
      <div class="row justify-content-between align-items-center px-3">
        <div class="col-ml-12" >
          <h1 class="ml-4">Cadastro de produto avulso</h1>
        </div>
      </div>

      <div class="card-filter mt-5 ml-4 mr-4">
        <div class="card-filter-title">
          <span>Dados do Produto</span>
        </div>
        <form>
          <div class="d-flex align-items-start">

            <div class="form-group" style="margin-top: 1px; margin-right: 20px; width: 79px;">
              <label for="cliente" >Código</label>
              <input type="text" class="form-control" id="cliente">
            </div>

          <div class="form-group " style="margin-top: 1px; margin-right: 20px;  width: 288px; " >
              <label for="numberClientOrder" >Descrição</label>
              <input type="text" class="form-control" id="numberClientOrder">
            </div>

            <div class="form-group" style="margin-top: 1px; margin-right: 20px;  width: 79px;" >
              <label for="customerProduct" >Unidade</label>
              <input type="text" class="form-control" id="customerProduct">
            </div>

            <div class="form-group " style="margin-top: 1px; margin-right: 20px;  width: 244px; " >
              <label for="numberClientOrder" >Referência fabricante</label>
              <input type="text" class="form-control" id="numberClientOrder">
            </div>
          </div>
          <div class="d-flex align-items-start mt-3">

            <div class="form-group" style="margin-top: 1px; margin-right: 20px; width: 67px;">
              <label for="cliente" >NCM</label>
              <input type="text" class="form-control" id="cliente">
            </div>
            <div class="form-group" style="margin-top: 1px; margin-right: 20px; width: 67px;">
              <label for="cliente" >%ICMS</label>
              <input type="text" class="form-control" id="cliente">
            </div>
            <div class="form-group" style="margin-top: 1px; margin-right: 20px; width: 67px;">
              <label for="cliente" >%IPI</label>
              <input type="text" class="form-control" id="cliente">
            </div>
            <div class="form-group" style="margin-top: 1px; margin-right: 20px; width: 67px;">
              <label for="cliente" >IVA</label>
              <input type="text" class="form-control" id="cliente">
            </div>
            <div class="form-group" style="margin-top: 1px; margin-right: 20px; width: 67px;">
              <label for="cliente" >Quantidade</label>
              <input type="text" class="form-control" id="cliente">
            </div>
            <div class="form-group" style="margin-top: 1px; margin-right: 20px; width: 67px;">
              <label for="cliente" >Preço</label>
              <input type="text" class="form-control" id="cliente">
            </div>


          </div>

        </form>

      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn button-outline-white" (click)="modal.dismiss('back')">Cancelar</button>
    <button type="button" class="btn button-white" (click)="modal.close('ok')">Cadastrar Produto</button>
  </div>
</ng-template>




<ng-template #SalesContent let-modal class="modalInsert">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Autorização de venda</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <div class="wrapper table_green">
      <div class="row justify-content-between align-items-center px-3">
        <div class="col-ml-12" >
          <h1 class="ml-4">Atenção a venda do pedido 1042844 foi aprovada!</h1>
        </div>
      </div>

      <div class="card-filter mt-5 ml-4 mr-4">
        <div class="card-filter-title">
          <span>Pedido Aprovado</span>
        </div>
        <form class="mt-3">
          <div class="d-flex align-items-start">

            <div class="form-group" style="margin-top: 1px; margin-right: 20px; width: 117px;">
              <label for="orc_filial" >N° orç. filial</label>
              <input type="text" class="form-control text-black-50" id="orc_filial" value="1042844" readonly>
            </div>

          <div class="form-group " style="margin-top: 1px; margin-right: 20px;  width: 106px; " >
              <label for="cliente" >clientee</label>
              <input type="text" class="form-control text-black-50" id="client" value="912000" readonly>
            </div>

            <div class="form-group" style="margin-top: 1px; margin-right: 20px;  width: 673px;" >
              <label for="customerProduct" ></label>
              <input type="text" class="form-control text-black-50" id="customerProduct" value="AZO CONSTRUTORA E INCORPORADORA LTDA" readonly>
            </div>

            <div class="form-group " style="margin-top: 1px; margin-right: 20px;  width: 203px; " >
              <label for="tipo_ret" >Tipo de retirada</label>
              <input type="text" class="form-control text-black-50" id="tipo_ret" value="Apanha" readonly>
            </div>

            <div class="form-group " style="margin-top: 1px;  width: 203px; " >
              <label for="situ" >Situação</label>
              <input type="text" class="form-control text-black-50" id="situ" value="Autorizado" readonly>
            </div>
          </div> 

          <div class="d-flex align-items-start mt-3">

            <div class="form-group" style="margin-top: 1px;margin-right: 5px;width: 66px;">
              <label for="vendedor_sales" >Vendedor</label>
              <input type="text" class="form-control text-black-50" id="vendedor_sales" value="16" readonly>
            </div>

            <div class="form-group " style="margin-top: 1px;margin-right: 20px;width: 165px;" >
              <label for="cliente" ></label>
              <input type="text" class="form-control text-black-50" id="client" value="Pablo Bernardes" readonly>
            </div>

            <div class="form-group" style="margin-top: 1px;margin-right: 20px;width: 579px;" >
              <label for="posicao" >Posição</label>
              <input type="text" class="form-control text-black-50" id="posicao" value="Autorizado por FAGNER RODRIGUES SILVA em 08/02/2021 11:07" readonly>
            </div>

            <div class="form-group " style="margin-top: 1px; width: 143px; " >
              <label for="tipo_ret" >Data</label>
              <input type="text" class="form-control text-black-50" id="tipo_ret" value="19/01/2021" readonly>
            </div> 
          </div> 

        </form>

      </div>

      <div class="card-group-search  ml-4 mr-4" >
        <div class="card-filter mt-4" style="width: 49%; padding: 0px 15px 0px 15px;">
          <div class="card-filter-title">
            <span>Observação</span>
          </div>
          <form [formGroup]="form"> 
    
            <div class="d-flex align-items-start">
  
              <div class="d-flex align-items-start w-100"> 
                <div class="form-group" style="margin-top: 21px; width: 100%; min-height: 100px;">
                  <label for="exampleFormControlTextarea1">Observações da separação</label>
                  <textarea readonly style=" height: 80px!important;" class="form-control h-100" id="exampleFormControlTextarea1" rows="4"  ></textarea>
                </div>
              </div> 
  
            </div> 
            
          </form>
        </div>
    
        <div style="width: 49%;">
          <div class="card-filter  mt-4" style="width: 100%; padding: 0px 15px 15px 15px;">
            <div class="card-filter-title">
              <span>Dados da autorização de venda</span>
            </div>
            <form [formGroup]="form">
  
              <div class="d-flex align-items-start">
                
                <div class="card_title_modal">
                  <p class="title_info_modal">Preço informado</p>
                  <span class="value_info_modal">R$1.424,43</span>
                </div>
                <div class="card_title_modal">
                  <p class="title_info_modal">Preço informado</p>
                  <span class="value_info_modal blue3">R$1.424,43</span>
                </div> 
              </div> 
            </form>
          </div>  
      </div> 
    </div>
  </div>

  </div>
  <div class="modal-footer-white">
    <button type="button" class="btn button-green" (click)="modal.close('ok')">Enviar p/ separação</button>
  </div>
</ng-template>
