<div class="app-admin-wrap layout-sidebar-large">
  <div>
      <app-header-sidebar></app-header-sidebar>
  </div>
  <div class="side-content-wrap">
      <app-sidebar-menu></app-sidebar-menu>
  </div>
  <div class="main-content-wrap d-flex flex-column">
      <router-outlet></router-outlet>
      <div class="flex-grow-1"></div>
      <!-- <app-footer></app-footer> -->
      <div class="module-loader" *ngIf="moduleLoading">
          <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
      </div>
  </div>
</div>
<!-- <app-search *ngIf="searchService.searchOpen"></app-search> -->
