.auth-logo-outside {
  margin: auto;
  text-align: center;
  margin-bottom: 39px;
  margin-top: 70px;
  img {
    width: 185px;
    height: 39px;
  }
}

.wrapper-img {

  img {
    object-fit: cover;
    width: 720px;
    height: 645px;
    filter: brightness(0.8);
  }
}

.wrapper-form {
  width: 80%;
  margin: auto;
  height: 645px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 185px;
    height: 39px;
  }
}

.recovery {
  margin-bottom: 21px;
  margin-top: 24px;
}

.btn-block {
  background-color: #004F3E;
  color: #fff;
  width: 347px;
  height: 50px;
  font-size: 14px;
  margin-bottom: 24px;
}
.btn-block-outline {
  background-color: #fff;
  color: #004F3E;
  width: 347px;
  height: 50px;
  font-size: 14px;
  margin-bottom: 24px;
  border: 2px solid #004F3E;
}

a {
  text-decoration: none;
  color: #747474;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #F9F9F9!important;
  background-clip: border-box;
  border: 0!important;
  border-radius: 0.25rem;
}

.input {
  height: 50.15504455566406px;
  width: 350px;
  left: 0px;
  top: 2.747283935546875px;
  border-radius: 5px;
}
.inputLabel {
  font-size: 16px;
}
// .mb-18 {
//   margin-bottom: 18px;
// }
.text-30 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 10px;
}
.text-16 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.auth-logo{
  margin-bottom: 46px!important;
  img {
      width: 185px;
      height: 50px;
    }
}
.margin-b {
  margin-bottom: 18px;
}

.footer {
  margin-top: 45px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #00644E;
  }
}
.img-text {
  position: absolute;
  margin-top: 49px;
  margin-left: 22px;
  z-index: 100;

  .title {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #F9F9F9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #F9F9F9;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .description {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F9F9F9;
    width: 245px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}


@media (max-width: 1024px) {
}

@media (max-width: 780px) {
  .text-30 {
    font-size: 20px;
    line-height: 10px;
  }
  .text-16 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }

  .input {
    width: 95% !important;
    border-radius: 5px;
    margin: auto;
  }
  .inputLabel {
    font-size: 16px;
    margin: auto;
    width: 100%;
    padding-left: 3%;

  }
  .recovery {
    padding-bottom: 21px;
    padding-top: 24px;
    width: 100%;
    margin: auto;
  }


  .btn-block {
    background-color: #004F3E;
    color: #fff;
    width: 300px;
    height: 50px;
    font-size: 14px;
    margin-bottom: 24px;
  }
  .btn-block-outline {
    background-color: #fff;
    color: #004F3E;
    width: 300px;
    height: 50px;
    font-size: 14px;
    margin-bottom: 24px;
    border: 2px solid #004F3E;
  }
}

@media (max-width: 576px) {
  .text-30 {
    font-size: 20px;
    line-height: 10px;
  }
  .text-16 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }

  .input {
    width: 95% !important;
    border-radius: 5px;
    margin: auto;
  }
  .inputLabel {
    font-size: 16px;
    margin: auto;
    width: 100%;
    padding-left: 3%;

  }
  .recovery {
    padding-bottom: 21px;
    padding-top: 24px;
    width: 100%;
    margin: auto;
  }


  .btn-block {
    background-color: #004F3E;
    color: #fff;
    width: 300px;
    height: 50px;
    font-size: 14px;
    margin-bottom: 24px;
  }
  .btn-block-outline {
    background-color: #fff;
    color: #004F3E;
    width: 300px;
    height: 50px;
    font-size: 14px;
    margin-bottom: 24px;
    border: 2px solid #004F3E;
  }
}

@media (max-width: 360px) {
  .text-30 {
    font-size: 20px;
    line-height: 10px;
  }
  .text-16 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }

  .input {
    width: 95% !important;
    border-radius: 5px;
    margin: auto;
  }
  .inputLabel {
    font-size: 16px;
    margin: auto;
    width: 100%;
    padding-left: 3%;

  }
  .recovery {
    padding-bottom: 21px;
    padding-top: 24px;
    width: 100%;
    margin: auto;
  }


  .btn-block {
    background-color: #004F3E;
    color: #fff;
    width: 300px;
    height: 50px;
    font-size: 14px;
    margin-bottom: 24px;
  }
  .btn-block-outline {
    background-color: #fff;
    color: #004F3E;
    width: 300px;
    height: 50px;
    font-size: 14px;
    margin-bottom: 24px;
    border: 2px solid #004F3E;
  }
}
