<div class="auth-logo-outside">
  <img src="../../../../assets/logo1.svg" alt="logo" srcset="">
</div>
<div class="card o-hidden" >
  <div class="row" style="height: 645px">
    <div class="col-md-6 col-sm-none">
      <div class="p-4 wrapper-form">
        <div class="auth-logo text-center">
          <img src="../../../../assets/logo2.svg" alt="logo" srcset="">
        </div>
        <div class="text-left margin-b " style="width: 100%;">
          <p class="mb-3 text-16" style="color: #00644E;">Seja bem-vindo!</p>
          <h1 class="mb-3 text-30" style="color: #00644E;">Faço o seu login</h1>
        </div>
        <form [formGroup]="form" (ngSubmit)="signin()" autocomplete="off">
          <div class="form-group">
            <label class="inputLabel" style="margin-bottom: 11px;" for="email">usuário</label>
            <input
              id="email"
              class="form-control input"
              formControlName="email"
              type="email"
              placeholder="Digite seu email"
            />
          </div>
          <div class="form-group">
            <label class="inputLabel" style="margin-bottom: 11px;" for="password">senha</label>
            <input
              id="password"
              class="form-control input"
              formControlName="password"
              type="password"
              placeholder="Digite sua senha"
            />
          </div>
          <div class="row d-flex justify-content-between recovery" >
            <div class="col-6">
              <div class="mt-3">
                <input type="radio">
                <a href="" class="ml-2" routerLink="/sessions/forgot">Lembrar-me</a >
              </div>
            </div>
            <div class="col-6">
              <div class="mt-3 text-right">
                <a href="" routerLink="/sessions/forgot">Esqueci a senha</a >
              </div>
            </div>
          </div>
          <div class="d-flex flex-wrap justify-content-between  align-items-center">
            <button class="btn btn-rounded btn-block mt-2 text-uppercase" routerLink="/dashboard/home">
              ENTRAR
            </button>
            <button class="btn btn-rounded btn-block-outline mt-2 text-uppercase" >
              QUERO PARA MINHA EMPRESA
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 col-sm-0 wrapper-img">
      <div class="img-text">
        <p class="title">Conheça o nosso ERP</p>
        <p class="subtitle">O seu negócio 100% conectado</p>
        <p class="description">Automatize todos os processos, desde a entrada até a saída dos seus produtos!</p>
      </div>

      <img src="../../../../assets/images/img1.png" alt="" srcset="" width="545px" width="720px">
     <!-- <span
        style="
          background-size: center;
          background-image: url(./assets/images/img1.png);
        "
      ></span> -->
      <div class="bg-dark-img"></div>
    </div>
  </div>
</div>
<div class="footer">
  <p>Siga a BrunSker nas redes sociais</p>
  <div class="footer-icon">
    <img src="../../../../assets/icons/1.png" alt="facebook">
    <img src="../../../../assets/icons/2.png" alt="instagran" class="ml-3">
    <img src="../../../../assets/icons/3.png" alt="linkedin" class="ml-3">
    <img src="../../../../assets/icons/4.png" alt="youtube" class="ml-3">
  </div>
</div>
