<div class="warpper">
  <div class="main-header">
    <div class="logo">
        <img src="../../../../../../assets/logo.svg" alt="">
    </div>

    <div style="margin: auto"></div>

    <div class="header-part-right">
        <!-- Search bar -->
        <div class="search-bar">
          <input type="text" placeholder="Busque por clientes ou orçamentos" (click)="open(content)">
          <!-- <i class="search-icon text-muted i-Magnifi-Glass1 "></i> -->
          <img src="../../../assets/icons/search.svg" alt="date">
        </div>
        <div class="header-hr">
          <hr >
        </div>

        <div ngbDropdown [placement]="'bottom-right'">
            <div class="badge-top-container  header-icon">
                <!-- <span class="badge badge-primary"></span> -->

                <img class="i-round" ngbDropdownToggle src="../../../assets/icons/round.svg" alt="date" role="button" width="20">

                <!-- <i ngbDropdownToggle class="i-Bell text-muted header-icon" role="button"></i> -->
                <img class="i-Bell" ngbDropdownToggle src="../../../assets/icons/bell.svg" alt="date" role="button" width="20">

            </div>
            <div ngbDropdownMenu class="notification-dropdown rtl-ps-none" >
                <div class="dropdown-item d-flex" *ngFor="let item of notifications" [routerLink]="[item.link]">
                    <div class="notification-icon">
                        <!-- <i class="{{item.icon}} text-{{item.status}} mr-1"></i> -->
                        <img src="../../../assets/icons/bell.svg" alt="date">
                    </div>
                    <div class="notification-details flex-grow-1">
                        <p class="m-0 d-flex align-items-center">
                            <span>{{item.title}}</span>
                            <span *ngIf="item.badge" class="badge badge-pill badge-{{item.status}} ml-1 mr-1">{{item.badge}}</span>
                            <span class="flex-grow-1"></span>
                            <span class="text-small text-muted ml-auto">{{item.time | relativeTime}}</span>
                        </p>
                        <p class="text-small text-muted m-0">{{item.text | excerpt:30}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div ngbDropdown [placement]="'bottom-right'" class="profie">
            <img src="./assets/images/avatar.png" class="rounded-circle" id="userDropdown" ngbDropdownToggle alt="">

            <div ngbDropdownMenu aria-labelledby="userDropdown" class="header-account-dropdown">
                <!-- <div class="dropdown-header">
                    <i class="i-Lock-User mr-1"></i> Timothy Carlson
                </div> -->
                <button class="dropdown-item">Minha Conta</button>
                <button class="dropdown-item" routerLink="/auth/signin">Sair</button>
            </div>
        </div>

        <div class="date-profile">
          <p>Pablo Bernardes</p>
          <span>RCA 111</span>
        </div>

    </div>

  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Busca detalhada por cliente</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <div class="wrapper table_green">
      <div class="row justify-content-between align-items-center px-3">
        <div class="col-ml-12" >
          <h1 class="ml-4">Busca detalhada por cliente</h1>
        </div>
      </div>
      <div class="ml-4">
        <form  >
          <div class="form-top">
            <div class="radios">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="1" name="filterRadio" id="social" (click)="modalDate()"  [(ngModel)]="filterRadio">
                <label class="form-check-label" for="social">Razão social</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"  name="filterRadio" id="codigo" value="2"  (click)="modalDate()" [(ngModel)]="filterRadio">
                <label class="form-check-label" for="codigo">Código</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="3" name="filterRadio" id="fantasia" (click)="modalDate()"  [(ngModel)]="filterRadio">
                <label class="form-check-label" for="fantasia">Fantasia</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="4" name="filterRadio" id="CNPJ" (click)="modalDate()"  [(ngModel)]="filterRadio">
                <label class="form-check-label" for="CNPJ">CNPJ</label>
              </div>
            </div>

            <!-- <div class="search-bar">
              <input type="text" placeholder="Busque por clientes ou orçamentos" >
            </div> -->

            <div class="search-form"  >
              <div class="form-group form-search " style="margin-top: 37px; margin-right: 20px; width: 300px;">
                <input type="text" class="form-control " id="search" placeholder="Informe o dado para a busca">
                <div class="search-icon" aria-label="search" inlineSVG="../../../assets/icons/search.svg"></div>
              </div>
            </div>

          </div>
        </form>
      </div>

      <div class="card-filter mt-5 ml-4 mr-4">
        <div class="card-filter-title">
          <span>Resultados da busca</span>
        </div>

        <ngx-datatable

          class='bootstrap '
          [columnMode]="'force'"
          [footerHeight]="50"

          [rowHeight]="40"
          [rows]="rows"
          [loadingIndicator]="true"
          [scrollbarV]="true"
          [scrollbarH]="true"
          [limit]="10"
          style="width: 100%; min-height: 300px"
          [messages]="{emptyMessage: 'Data not found!', totalMessage: 'resultado encontrados'}"


          >
          <ngx-datatable-column name="CÓD. CLIENTE" prop="customerId" [width]="200">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{' ' + row.customerId}}

            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="RAZÃO SOCIAL" prop="companyName" [width]="300"></ngx-datatable-column>
          <ngx-datatable-column name="FANTASIA" prop="fantasy" [width]="300"></ngx-datatable-column>
          <ngx-datatable-column name="CNPJ" prop="cnpj"></ngx-datatable-column>
          <ngx-datatable-column name="RCA" prop="rca" ></ngx-datatable-column>
          <ngx-datatable-column name="CLIENTE PRINCIPAL" prop="codProduct" [width]="300"></ngx-datatable-column>          <!-- <ngx-datatable-footer></ngx-datatable-footer> -->
        </ngx-datatable>

        <div *ngIf="filterRadio == '3' || filterRadio == '4'">
          <p class="messageEmpty">{{message}}</p>
        </div>

      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn button-outline-white" (click)="modal.dismiss('back')">Cancelar</button>
    <button type="button" class="btn button-white" (click)="modal.close('ok')">Selecionar Cliente</button>
  </div>
</ng-template>

