.warpper {
      /* position: absolute; */
    /* right: 0; */
    /* top: 0; */
    display: flex;
    /* align-items: revert; */
    justify-content: flex-end;
}


.button-outline-white {
  background: #00644E;

  border: 1.5px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
}

.button-white {
  background-color: #FFFFFF;
  color: #00644E;
  border-radius: 5px;
}
.messageEmpty {

    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #8E8E8E;
    position: absolute;
    top: 49%;
    left: 36%;
}
