.auth-layout-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    .auth-content {
        width: 1060px;
        margin: auto;
    }
}

.auth-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.auth-logo {
    img {
        width: 100px;
        height: 100px;
    }
}


@media (max-width: 1024px) {
  .auth-content {
    width: 93% !important;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .auth-content {
    width: 93% !important;
    margin: auto;
  }
}


@media (max-width: 576px) {
  .auth-content {
    width: 93% !important;
    margin: auto;
  }
}

@media (max-width: 360px) {
  .auth-content {
    width: 93% !important;
    margin: auto;
  }
}
@media (max-width: 320px) {
  .auth-content {
    width: 93% !important;
    margin: auto;
  }
}

