<div class="wrapper table_green">
  <div class="row justify-content-between align-items-center px-3">
    <div class="col-ml-12" style="margin-bottom: 30px;">
      <h1>Crédito Cliente</h1>
    </div>
  </div>
  <div class="card-filter">
    <div class="card-filter-title">
      <span>Busca lista de créditos</span>
    </div>
    <form [formGroup]="form">
      <div class="d-flex align-items-start mt-3">
        <div style="margin-right: 11px; display: flex; flex-direction: column; margin-top: 4px;" class=" datePicker form-group">
          <label for="picker">Período</label>
          <div class="group-icon-input">
             <input
              id="picker"
              type="text"
              #datepickerDe="bsDatepicker"
              class="form-control form-datePicker"
              bsDatepicker
              placeholder="de"
            >
            <div  (click)="datepickerDe.toggle()" class="picker-icon" aria-label="My icon" inlineSVG="../../../assets/icons/date.svg"></div>
          </div>

        </div>
        <div  style="margin-right: 20px; margin-top: 21px;" class="datePicker" >
          <div class="group-icon-input">
            <input
                id="picker2"
                type="text"
                #datepickerAte="bsDatepicker"
                class="form-control form-datePicker"
                bsDatepicker
                placeholder="até"
            >
            <div  (click)="datepickerAte.toggle()" class="picker-icon" aria-label="My icon" inlineSVG="../../../assets/icons/date.svg"></div>
          </div>
        </div>

        <div class="form-group" style="margin-top: 1px; margin-right: 20px;" class="widthInput">
          <label for="document" >Documento</label>
          <input type="text" class="form-control" id="document">
        </div>

        <div class="form-group" style="margin-top: 1px; margin-right: 20px;" class="widthInput">
          <label for="lanc" >Lançamento N°</label>
          <input type="number" class="form-control" id="lanc">
        </div>

        <div class="form-group" style="display: flex; flex-direction: column;" class="widthSelect">
          <label for="typeClient">Tipo de Cliente</label>
          <div class="group-icon-select" style="margin-top: 1px;">
            <select class="form-control" id="typeClient">
              <option value="">Selecione</option>
              <option>DEFINIDO</option>
              <option>INDEFINIDO</option>
            </select>
            <!-- <div class="select-icon" aria-label="My icon" inlineSVG="../../../assets/icons/down-arrow.svg"></div> -->
          </div>
        </div>

        <div class="form-group" style="display: flex; flex-direction: column;" class="widthSelect">
          <label for="typeClient">Tipo de Crédito</label>
          <div class="group-icon-select" style="margin-top: 1px;">
            <select class="form-control" id="typeClient">
              <option value="">Selecione</option>
              <option>DEPÓSITO</option>
            </select>
            <!-- <div class="select-icon" aria-label="My icon" inlineSVG="../../../assets/icons/down-arrow.svg"></div> -->
          </div>
        </div>

        <div class="form-group" style="display: flex; flex-direction: column;" class="widthSelect">
          <label for="typeClient">Situação</label>
          <div class="group-icon-select" style="margin-top: 1px;">
            <select class="form-control" id="typeClient">
              <option value="">Selecione</option>
              <option>..........</option>
            </select>
            <!-- <div class="select-icon" aria-label="My icon" inlineSVG="../../../assets/icons/down-arrow.svg"></div> -->
          </div>
        </div>
      </div>
      <div class="d-flex align-items-start">

        <div class="form-group" style="margin-top: 1px; margin-right: 5px; width: 3%;">
          <label for="vendedor" >Vendedor</label>
          <input type="text" class="form-control" id="vendedor" >
        </div>

        <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 45% ">
          <input type="text" class="form-control" id="lanc" style=" background-color: #dddddd; border: 1px solid #B3B3B3;" readonly>
        </div>

        <div class="form-group" style="margin-top: 1px; margin-right: 5px; width: 3%;">
          <label for="vendedor" >Cliente</label>
          <input type="text" class="form-control" id="vendedor">
        </div>

        <div class="form-group" style="margin-top: 21px; margin-right: 20px; width: 45% ">
          <input type="text" class="form-control" id="lanc" style=" background-color: #dddddd;border: 1px solid #B3B3B3;" readonly>
        </div>

        <div class="form-group" style="margin-top: 1px; width: 3%;">
          <label for="filial" >Filial</label>
          <input type="text" class="form-control" id="filial">
        </div>
      </div>
      <div class="d-flex align-items-start">
        <button class="btn btn-primary btn" style="padding: 0 25px;">Buscar</button>
      </div>
    </form>
  </div>


  <div class="card-filter mt-5">
    <div class="card-filter-title">
      <span>Lista de crédito</span>
    </div>

      <ngx-datatable  class='bootstrap no-detail-row mt-2'
      [columnMode]="'force'"
      [footerHeight]="24"

      [rowHeight]="40"
      [rows]="rows"
      [loadingIndicator]="true"
      [scrollbarV]="true"
      [scrollbarH]="true"
      [limit]="10"
      style="width: 100%; min-height: 300px"


      >
      <ngx-datatable-column name="DATA DO LANÇ" prop="date_lanc"  [width]="200"  >
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <input type="radio" [value]="row"  name="check" />  {{' ' + ' ' + row.date_lanc}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="LANÇ. N°" prop="lanc" ></ngx-datatable-column>
      <ngx-datatable-column name="FILIAL" prop="filial" ></ngx-datatable-column>
      <ngx-datatable-column name="TIPO" prop="type" ></ngx-datatable-column>
      <ngx-datatable-column name="DOCUMENTO" prop="document"  ></ngx-datatable-column>
      <ngx-datatable-column name="TIPO DE CRÈDITO" prop="typeCredit" ></ngx-datatable-column>
      <ngx-datatable-column name="TIPO DE CLIENTE" prop="typeClient" ></ngx-datatable-column>
      <ngx-datatable-column name="CÓD. CLIENTE" prop="codClient" ></ngx-datatable-column>
      <ngx-datatable-column name="CLIENTE" prop="client"  [width]="220"></ngx-datatable-column>
      <ngx-datatable-column name="QT. DISP. MATRIZ" prop="matriz" [width]="220"></ngx-datatable-column>
      <ngx-datatable-footer></ngx-datatable-footer>
    </ngx-datatable>

    <div  class="info_square">
      <div *ngFor="let item of typeCreditText"  class="info_square">
        <div class="square gray" *ngIf="item.credit === 1"></div>
        <div class="square orange" *ngIf="item.credit === 2"></div>
        <div class="square red" *ngIf="item.credit === 3"></div>
        <span class="square_text">{{item.name}}</span>
      </div>
    </div>

  </div>

  <div class="card-filter mt-5 mb-3">
    <div class="card-filter-title">
      <span>Histórico de baixa(s) do lançamento N°(4567) - (95693) LUIZ OTAVIO KAIL</span>
    </div>
    <ngx-datatable class='bootstrap no-detail-row mt-2'
        [columnMode]="'force'"
        [footerHeight]="4"

        [rowHeight]="40"
        [rows]='rowsHistory'
        [loadingIndicator]="true"
        [scrollbarV]="true"
        [scrollbarH]="true"
        [limit]="10"
        style="width: 100%;"
      >
      <ngx-datatable-column name="DATA DO LANÇ" prop="date_lanc"  ></ngx-datatable-column>
      <ngx-datatable-column name="LANÇ. N°" prop="lanc" ></ngx-datatable-column>
      <ngx-datatable-column name="FILIAL" prop="filial" ></ngx-datatable-column>
      <ngx-datatable-column name="TIPO" prop="type" ></ngx-datatable-column>
      <ngx-datatable-column name="DOCUMENTO" prop="document" ></ngx-datatable-column>
      <ngx-datatable-column name="TIPO DE CRÉDITO" prop="typeCredit"></ngx-datatable-column>
      <ngx-datatable-column name="TIPO DE CLIENTE" prop="typeClient"></ngx-datatable-column>
      <ngx-datatable-column name="CÓD. CLIENTE" prop="codClient"></ngx-datatable-column>
      <ngx-datatable-column name="CLIENTE" prop="client" [width]="220"></ngx-datatable-column>
      <ngx-datatable-column name="QT. DISP. MATRIZ" prop="matriz" [width]="220"></ngx-datatable-column>
      <ngx-datatable-footer></ngx-datatable-footer>

    </ngx-datatable>

  </div>

</div>
