<div class="wrapper table_green">
  <div class="row justify-content-between align-items-center px-3">
    <div class="col-ml-12" style="margin-bottom: 30px;">
      <h1>Consultar orçamento</h1>
    </div>
  </div>
  <div class="card-filter">
    <div class="card-filter-title">
      <span>Busca detalhada por</span>
    </div>
    <form [formGroup]="form" class="mt-4">
      <div class="radios mb-3">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="filterRadio" id="orcamento" value="orcamento">
          <label class="form-check-label" for="orcamento">Orçamento</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="filterRadio" id="cliente" value="cliente">
          <label class="form-check-label" for="cliente">Pedido</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="filterRadio" id="faturamento" value="faturamento">
          <label class="form-check-label" for="faturamento">Faturamento</label>
        </div>
      </div>
      <div class="d-flex align-items-start">

        <div style="margin-right: 11px; display: flex; flex-direction: column; margin-top: 4px;" class=" datePicker form-group">
          <label for="picker">Período</label>
          <div class="group-icon-input">
             <input
              id="picker"
              type="text"
              #datepickerDe="bsDatepicker"
              class="form-control form-datePicker"
              bsDatepicker
              placeholder="de"
            >
            <div  (click)="datepickerDe.toggle()" class="picker-icon" aria-label="My icon" inlineSVG="../../../assets/icons/date.svg"></div>
          </div>

        </div>
        <div  style="margin-right: 20px; margin-top: 21px;" class="datePicker" >
          <div class="group-icon-input">
            <input
                id="picker"
                type="text"
                #datepickerAte="bsDatepicker"
                class="form-control form-datePicker"
                bsDatepicker
                placeholder="até"
            >
            <div  (click)="datepickerAte.toggle()" class="picker-icon" aria-label="My icon" inlineSVG="../../../assets/icons/date.svg"></div>
          </div>
        </div>

        <div class="form-group " style="margin-top: 1px; margin-right: 20px;" class="widthInput">
          <label for="numberFiscal" >Nº Orç. Fiscal</label>
          <input type="text" class="form-control" id="numberFiscal">
        </div>

        <div class="form-group" style="margin-top: 1px; margin-right: 20px;" class="widthInput">
          <label for="numberPedido" >Nº Pedido</label>
          <input type="number" class="form-control" id="numberPedido">
        </div>
        <div class="form-group" style="margin-top: 1px; margin-right: 20px;" class="widthInput">
          <label for="numberNota" >Nº Nota</label>
          <input type="number" class="form-control" id="numberNota">
        </div>

        <div class="form-group" style="display: flex; flex-direction: column;" class="widthSelect">
          <label for="canditionCredit">Condição de Orçamento</label>
          <div class="group-icon-select" style="margin-top: 1px;">
            <select class="form-control" id="canditionCredit">
              <option value="">Selecione</option>
              <option>DEFINIDO</option>
              <option>INDEFINIDO</option>
            </select>
            <!-- <div class="select-icon" aria-label="My icon" inlineSVG="../../../assets/icons/down-arrow.svg"></div> -->
          </div>
        </div>

        <div class="form-group" style="display: flex; flex-direction: column;" class="widthSelect">
          <label for="fase">Fase</label>
          <div class="group-icon-select" style="margin-top: 1px;">
            <select class="form-control" id="fase">
              <option value="">Selecione</option>
              <option>DEPÓSITO</option>
            </select>
            <!-- <div class="select-icon" aria-label="My icon" inlineSVG="../../../assets/icons/down-arrow.svg"></div> -->
          </div>
        </div>

        <div class="form-group" style="display: flex; flex-direction: column;" class="widthSelect">
          <label for="status">Status</label>
          <div class="group-icon-select" style="margin-top: 1px;">
            <select class="form-control" id="status">
              <option value="">Selecione</option>
              <option>..........</option>
            </select>
            <!-- <div class="select-icon" aria-label="My icon" inlineSVG="../../../assets/icons/down-arrow.svg"></div> -->
          </div>
        </div>
      </div>
      <div class="d-flex align-items-start">

        <div class="form-group" style="margin-top: 1px; margin-right: 5px; width: 50px;">
          <label for="cliente" >Cliente</label>
          <input type="text" class="form-control" id="cliente">
        </div>

        <div class="form-group" style="margin-top: 21px; margin-right: 20px;" class="inputReadonly">
          <input type="text" class="form-control" id="lanc" style=" background-color: #dddddd; border: 1px solid #B3B3B3;" readonly>
        </div>

      <div class="form-group " style="margin-top: 1px; margin-right: 20px;" class="widthInput">
          <label for="numberClientOrder" >Nº Pedido Cliente</label>
          <input type="text" class="form-control" id="numberClientOrder">
        </div>

        <div class="form-group" style="margin-top: 1px; margin-right: 20px;" class="widthInput">
          <label for="customerProduct" >Produto do Cliente</label>
          <input type="number" class="form-control" id="customerProduct">
        </div>
        <div class="form-group" style="margin-top: 1px; margin-right: 20px;" class="widthInput">
          <label for="codigProduct" >Código Produto UE</label>
          <input type="number" class="form-control" id="codigProduct">
        </div>

        <div class="form-group" style="display: flex; flex-direction: column;" class="widthSelect">
          <label for="canditionCredit">Autorização</label>
          <div class="group-icon-select" style="margin-top: 1px;">
            <select class="form-control" id="canditionCredit">
              <option value="">Selecione</option>
              <option>DEFINIDO</option>
              <option>INDEFINIDO</option>
            </select>
            <!-- <div class="select-icon" aria-label="My icon" inlineSVG="../../../assets/icons/down-arrow.svg"></div> -->
          </div>
        </div>

        <div class="form-group" style="display: flex; flex-direction: column;" class="widthSelect">
          <label for="fase">Origem</label>
          <div class="group-icon-select" style="margin-top: 1px;">
            <select class="form-control" id="fase">
              <option value="">Selecione</option>
              <option>DEPÓSITO</option>
            </select>
            <!-- <div class="select-icon" aria-label="My icon" inlineSVG="../../../assets/icons/down-arrow.svg"></div> -->
          </div>
        </div>

        <div class="form-group" style="display: flex; flex-direction: column;" class="widthSelect">
          <label for="status">Mostrar Produtos</label>
          <div class="group-icon-select" style="margin-top: 1px;">
            <select class="form-control" id="status">
              <option value="">Selecione</option>
              <option>..........</option>
            </select>
            <!-- <div class="select-icon" aria-label="My icon" inlineSVG="../../../assets/icons/down-arrow.svg"></div> -->
          </div>
        </div>
      </div>


      <div class="d-flex align-items-start mt-4">
        <button class="btn btn-primary btn" style="padding: 0 25px;">Buscar</button>
      </div>
    </form>
  </div>


  <div class="card-filter mt-5">
    <div class="card-filter-title">
      <span>Orçamentos</span>
    </div>

      <ngx-datatable  class='bootstrap no-detail-row mt-2'
      [columnMode]="'force'"
      [footerHeight]="4"

      [rowHeight]="40"
      [rows]="rows"
      [loadingIndicator]="true"
      [scrollbarV]="true"
      [scrollbarH]="true"
      [limit]="10"
      style="width: 100%; min-height: 250px"


      >
      <ngx-datatable-column name="orç. data" prop="orc_data"  [width]="200">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <input type="radio" [value]="row"  name="check" />  {{' ' + ' ' + row.orc_data}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="orç. filial Nº" prop="orc_filial" ></ngx-datatable-column>
      <ngx-datatable-column name="FILIAL" prop="filial" ></ngx-datatable-column>
      <ngx-datatable-column name="NOTA Nº " prop="noteN"  >
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.noteN}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="DATA DE EMISSÃO " prop="dateE" ></ngx-datatable-column>
      <ngx-datatable-column name="CÓD. CLIENTE" prop="codClient" ></ngx-datatable-column>
      <ngx-datatable-column name="CLIENTE" prop="client" [width]="260" ></ngx-datatable-column>
      <ngx-datatable-column name="TOTAL" prop="total" ></ngx-datatable-column>
      <ngx-datatable-column name="STATUS" prop="status" ></ngx-datatable-column>
      <ngx-datatable-column name="QT. DISP. MATRIZ" prop="matriz" [width]="220"></ngx-datatable-column>
      <ngx-datatable-footer></ngx-datatable-footer>
    </ngx-datatable>
  </div>

  <div class="card-filter mt-5 mb-3">
    <div class="card-filter-title">
      <span>Itens do Orçamento nº 1053505</span>
    </div>
    <ngx-datatable class='bootstrap no-detail-row mt-2'
        [columnMode]="'force'"
        [footerHeight]="4"

        [rowHeight]="40"
        [rows]='rowsOrc'
        [loadingIndicator]="true"
        [scrollbarV]="true"
        [scrollbarH]="true"
        [limit]="10"
        style="width: 100%; min-height: 200px"
      >
      <ngx-datatable-column name="ITEM" prop="item" [width]="80" ></ngx-datatable-column>
      <ngx-datatable-column name="CÓDIGO" prop="cod" ></ngx-datatable-column>
      <ngx-datatable-column name="DESCRIÇÂO DO PRODUTO" prop="description" [width]="300" ></ngx-datatable-column>
      <ngx-datatable-column name="NCM" prop="ncm" [width]="100" ></ngx-datatable-column>
      <ngx-datatable-column name="UNID" prop="unid" [width]="100" ></ngx-datatable-column>
      <ngx-datatable-column name="REF. FAB." prop="ref" [width]="120" ></ngx-datatable-column>
      <ngx-datatable-column name="EMB." prop="emb"></ngx-datatable-column>
      <ngx-datatable-column name="PÇO. TABELA" prop="pcoTable"></ngx-datatable-column>
      <ngx-datatable-column name="DESCONTO" prop="discount" [width]="100" ></ngx-datatable-column>
      <ngx-datatable-column name="PÇO. LÍQUIDO" prop="pcoLiquid"></ngx-datatable-column>
      <ngx-datatable-column name="QT. DISP. MATRIZ" prop="matriz"  [width]="260"></ngx-datatable-column>
      <ngx-datatable-footer></ngx-datatable-footer>

    </ngx-datatable>

  </div>

</div>
