.wrapper {
  padding-top: 20px;
  margin-left: 5px;


  h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 132%;
    display: flex;
    align-items: center;
    color: #00644E;
  }
  button.btn.btn-primary.btn {
    height: 38px;
    border: 0;
  }
  filter {
    button {
      border-color: black;
    }

  }
  .col-md-2.form-group.filter {
    text-align: center;
    margin-right: -47px;
}
  .form-datePicker{
    background-color: #FFFFFF;
    // border: 1px solid #B3B3B3;
    color: #B2B2B2;
  }
  ::placeholder {
    color: #B2B2B2;
  }
  .input-group-append {

  }
//   .chart {
//     div {
//       position: absolute;
//       left: 0px;
//       top: 0px;
//       width: 123%;
//       height: 417px;
//       user-select: none;
//       -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//       padding: 0px;
//       margin: 0px;
//       border-width: 0px;
//       margin-left: -105px;
//     }
//   }
//   .echart {
//     width: 118%;
//     margin-left: -67px;
// }
// .group_top {
//   margin-top: 35px;
//   width: 70%;
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
// }
  .card-filter{
    background: #FAFAFA;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    padding: 6px 15px 29px 15px;

    position: relative;
  }

  .card-filter-title {
    background-color: #FAFAFA;
    position: absolute;
    height: 24.61px;
    top: -10px;
    padding-left: 6px;
    padding-right: 6px;
    span {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 132%;
      color: #00644E;
    }
  }

  .group-cards{
    padding-top: 35px;
    padding-bottom: 45px;
    width: 88%;
    margin: auto;
  }
  .card_top {
    width: 53px;
    height: 21px;
    width: 53px;
    height: 21px;
    border-radius: 3px;
    display: flex;
    padding: 3px;
    margin-left: 5px;
    img {
      margin-right: 2px;
    }
  }
  .green {
    background-color: #C3EE83;
    color: #489019;
  }
  .red {
    background-color: #FE9F99;
    color: #B52A54;
  }
  .title {
    display: flex;
    align-items: center;
    > span {
      font-family: Lato;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 34px;
      color: #2C2C2C;
    }
  }
  .description {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #8E8E8E;
  }
}

.header-hr {
  margin: 0 25px;
  hr{
    border: none;
    border-left: 1px solid #dddddd;
    height: 38px;
    width: 1px;
  }
}

.card_info {
  color: #fff;
  padding: 6px;
  text-align: center;
  margin: auto;
  border-radius: 3px;
  width: 111px;
}
.card_green {
  background-color: #00644E;
  border-color: #00644E;
}
.card_orange {
  background-color: #B54C00;
  border-color: #B54C00;
}
.card_red {
  background-color: #B50B00;
  border-color: #B50B00;
}

.tableItem {
  cursor: pointer;
  color: #4267B2;
}

.datePicker {
  width: 9% !important;
}

.inputReadonly {
  width: 14.5% !important;
}
.group-icon-input {
  float: right;
  display: flex;
  align-items: center;
  justify-content: left;
  background: transparent;
  position: relative;
  div {
    position: absolute;
    right: 6px;
    cursor: pointer;
  }
}

.group-icon-select {
  float: right;
  display: flex;
  align-items: center;
  justify-content: left;
  background: transparent;
  position: relative;
  div {
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 30px;

  }
}

.select-icon {
  background-color: #00644E;
  height: 30px;
  padding: 0 10px;

}


label {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 132%;

  color: #747474;
  margin-bottom: 2px!important;
}

.form-group, .form-control  {
  border-radius: 0!important;
  height: 30px!important;
  font-size: 12px;
}

.info_square {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.square {
  width: 15px;
  height: 15px;
  margin-left: 30px;
}

.gray{
  background-color: #E3EFEC;
}
.orange {
  background-color: #FCCFB7;
}
.red {
  background-color: #E5B2AF;
}
span.square_text {
  margin-left: 6px;
  font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 132%;
/* or 16px */

display: flex;
align-items: center;

/* Colors/Gray6 */

color: #747474;

}

.form-top {
    display: flex!important;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 22px;
}


.search-form {
  input {
      width: 325px;
      color: #212121;
      font-size: .8rem;
      line-height: 2;
      height: 100%;
      outline: initial!important;
      padding: .5rem 1rem;
      width: calc(100% - 32px);
  }
  .search-icon {
      font-size: 18px;
      width: 28px;
      display: inline-block;
      background-color: #00644E;
      text-align: center;
      padding-top: 4px;


  }
  .form-search  {
    display: flex;
    path  {
      fill: #FFFFFF !important;
    }
  }
}
.filter-input-details {
  background-color: #dddddd;
  border: 1px solid #B3B3B3;
  margin-bottom: 15px;
}





// @media


@media (max-width: 1428px) {
  // .datePicker {
  //   width: 9% !important;
  // }

  // .widthInput {
  //   width: 12.4% !important;
  // }
  // .widthSelect {
  //   margin-top: 2px;
  //   margin-right: 1%;
  //   width:15%;
  // }
}

  /* Desktops and laptops ----------- */
  @media only screen  and (min-width : 1280px ) and (max-width : 1483px) {
    .datePicker {
      width: 9% !important;
    }

    .widthInput {
      width: 11.8% !important;
    }
    .widthSelect {
      margin-top: 2px;
      margin-right: 1%;
      width:15%;
    }
  }

  /* Large screens ----------- */
  @media only screen  and (min-width : 1484px) {
    .datePicker {
      width: 9% !important;
    }

    .widthInput {
      width: 12.2% !important;
    }
    .widthSelect {
      margin-top: 2px;
      margin-right: 1%;
      width:15%;
    }
  }
  @media only screen  and (min-width : 1600px) {
    .datePicker {
      width: 9% !important;
    }

    .widthInput {
      width: 12.5% !important;
    }
    .widthSelect {
      margin-top: 2px;
      margin-right: 1%;
      width:15%;
    }
  }
  /* Large screens ----------- */
  @media only screen  and (min-width : 1824px) {
    .widthInput {
      width: 13% !important;
    }
    .inputReadonly {
      width: 15.5% !important;
    }
    .radios {

      label {
        font-family: "Lato";
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 132%;
        color: #747474;
        margin-bottom: 2px !important;
      }
    }
  }
