<div class="wrapper home">
  <div class="row justify-content-between align-items-center align-items-center">
    <div class="col-ml-9">
      <h1>Orçamentos realizados</h1>
    </div>
    <div class="col-md-3 form-group">
      <form [formGroup]="form">
        <div class="datePickerForm input-group d-flex justify-content-between align-items-center">
          <input
            type="text"
            #datepickerFull="bsDaterangepicker"
            class="form-control form-datePicker"
            bsDaterangepicker
            [bsConfig]="{ rangeInputFormat : 'MMMM - YYYY', showWeekNumbers: false, adaptivePosition: true }"
            formControlName="dateRange"
        >
        <div class="input-group-append">
          <button class="btn btn-primary btn" (click)="datepickerFull.toggle()"  type="button">
            <!-- <i class="icon-regular i-Calendar-4"></i> -->
            <img src="../../../assets/icons/date.svg" alt="date">
          </button>
        </div>
      </div>
    </form>

    </div>
  </div>
  <div class="echart">
    <div echarts [options]="options"  theme="macarons"  class="chart"></div>
  </div>
  <div class="d-flex justify-content-between align-items-center group-cards">
    <div>
      <div class="group_top">
        <div class="title">
          <span>2,21213213</span>
          <div class="card_top green">
            <img src="./assets/icons/up.svg" alt="" srcset="" width="16px">
            <p>+22</p>
          </div>
        </div>
        <p class="description">Total de orçamentos realizados</p>
      </div>
    </div>
    <div class="header-hr">
      <hr >
    </div>
    <div>
      <div class="group_top ">
        <div class="title">
          <span>580.000,10</span>
          <div class="card_top red">
            <img src="./assets/icons/down.svg" alt="" srcset="" width="16px">
            <p>-64</p>
          </div>
        </div>
        <p class="description">Média de venda semanal</p>
      </div>
    </div>
    <div class="header-hr">
      <hr >
    </div>
    <div>
      <div class="group_top">
        <div class="title">
          <span>1,959,453</span>
          <div class="card_top red">
            <img src="./assets/icons/down.svg" alt="" srcset="" width="16px">
            <p>-64</p>
          </div>
        </div>
        <p class="description">Média de venda semanal</p>
      </div>
    </div>
    <div class="header-hr">
      <hr >
    </div>
    <div>
      <div class="group_top">
        <div class="title">
          <span>2,21213213</span>
          <div class="card_top green">
            <img src="./assets/icons/up.svg" alt="" srcset="" width="16px">
            <p>+4</p>
          </div>
        </div>
        <p class="description">Valor médio dos orçamentos</p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 20px;">
    <div class="col-ml-10">
      <h1>Últimos orçamentos realizados</h1>
    </div>
    <div class="col-md-2 form-group filter ">
      <button class="btn btn-background-white border" type="button">
        <img src="../../../assets/icons/filter.svg" alt="date">
        Filtro
      </button>
    </div>
  </div>
  <div>
    <ngx-datatable class='bootstrap no-detail-row'
      [columnMode]="'force'"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rows]='rows'
      [limit]="dataParams.page_size">
      <ngx-datatable-column name="Cód. do Cliente" prop="cod" >
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div data-toggle="tooltip" placement="bottom" [ngbTooltip]="row.nameComp" class="tableItem"   tooltipClass="tableItemTooltip">
            {{row.cod}}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="N° do Orçamento" prop="orc" ></ngx-datatable-column>
      <ngx-datatable-column name="Pedido" prop="order" ></ngx-datatable-column>
      <ngx-datatable-column name="Forma de Pagamento" prop="payment" ></ngx-datatable-column>
      <ngx-datatable-column name="RCA Vendedor" prop="rca">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div data-toggle="tooltip" placement="bottom" [ngbTooltip]="row.name" class="tableItem"   tooltipClass="tableItemTooltip">
            {{row.rca}}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Valor Total" prop="value"></ngx-datatable-column>
      <ngx-datatable-column name="status">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <div
                class="card_info"
                [ngClass]="{'card_green': row.status == 'Faturado', 'card_orange': row.status == 'Em autorização', 'card_red': row.status == 'Negado' }"
              >{{row.status}}</div>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="" >
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div class="btn btn-background-white btn"  >
            <img src="./assets/icons/edit.svg" alt="edit">
          </div>
         </ng-template>

      </ngx-datatable-column>
    </ngx-datatable>
  </div>



</div>
