.wrapper {
  padding-top: 20px;
  margin-left: 5px;


  h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 132%;
    display: flex;
    align-items: center;
    color: #00644E;
  }
  button.btn.btn-primary.btn {
    height: 38px;
    border: 0;
  }
  filter {
    button {
      border-color: black;
    }

  }
  .col-md-2.form-group.filter {
    text-align: center;
    margin-right: -47px;
}
  .form-datePicker{
    background-color: #00644E;
    border: 1px solid #00644E;
    color: #fff;
  }
  ::placeholder {
    color: #fff;
  }
  .input-group-append {

  }
//   .chart {
//     div {
//       position: absolute;
//       left: 0px;
//       top: 0px;
//       width: 123%;
//       height: 417px;
//       user-select: none;
//       -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//       padding: 0px;
//       margin: 0px;
//       border-width: 0px;
//       margin-left: -105px;
//     }
//   }
//   .echart {
//     width: 118%;
//     margin-left: -67px;
// }
// .group_top {
//   margin-top: 35px;
//   width: 70%;
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
// }
  .group-cards{
    padding-top: 35px;
    padding-bottom: 45px;
    width: 88%;
    margin: auto;
  }
  .card_top {
    width: 53px;
    height: 21px;
    width: 53px;
    height: 21px;
    border-radius: 3px;
    display: flex;
    padding: 3px;
    margin-left: 5px;
    img {
      margin-right: 2px;
    }
  }
  .green {
    background-color: #C3EE83;
    color: #489019;
  }
  .red {
    background-color: #FE9F99;
    color: #B52A54;
  }
  .title {
    display: flex;
    align-items: center;
    > span {
      font-family: Lato;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 34px;
      color: #2C2C2C;
    }
  }
  .description {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #8E8E8E;
  }
}

.header-hr {
  margin: 0 25px;
  hr{
    border: none;
    border-left: 1px solid #dddddd;
    height: 38px;
    width: 1px;
  }
}

.card_info {
  color: #fff;
  padding: 6px;
  text-align: center;
  margin: auto;
  border-radius: 3px;
  width: 111px;
}
.card_green {
  background-color: #00644E;
  border-color: #00644E;
}
.card_orange {
  background-color: #B54C00;
  border-color: #B54C00;
}
.card_red {
  background-color: #B50B00;
  border-color: #B50B00;
}

.tableItem {
  cursor: pointer;
  color: #4267B2;
  height: 52px;
  margin-top: 26px;
}

.datePickerForm {
  width: 284px !important;
  float: right;
}


