<div class="sidebar-menu">
<div
  class="sidebar-left "
>
<div class="logo-white">
    <img src="../../../../../../assets/logo-white.svg" alt="">
  </div>

  <ul class="navigation-left">
    <li
      (click)="onClickChangeActiveFlag(item)"
      class="nav-item "
      *ngFor="let item of nav"
    >
      <div
        class="nav-item-hold"
        routerLink="{{ item.state }}"
        [routerLinkActive]="'active'"
        (click)="closeChildNav()"
        *ngIf="!item.disabled && item.type === 'link'"
      >
        <div class="nav-icon" aria-label="My icon" [inlineSVG]="item.img"></div>
        <span class="nav-text">{{ item.name }}</span>
      </div>

      <!-- <div
        class="nav-item-hold"
        (mouseenter)="selectItem(item)"
        *ngIf="!item.disabled && item.type === 'dropDown'"
      >
        <i [class]="'nav-icon ' + item.icon"></i>
        <span class="nav-text">{{ item.name }}</span>
      </div>
      <div class="nav-item-hold" *ngIf="!item.disabled && item.type === 'extLink'">
        <a [href]="item.state" target="_blank">
          <i [class]="'nav-icon ' + item.icon"></i>
          <span class="nav-text">{{ item.name }}</span>
        </a>
      </div>

      <div class="triangle" *ngIf="!item.disabled"></div> -->
    </li> 
  </ul>

  <ul class="navigation-left" style="position: absolute; bottom:  0px;">
    <li
      class="nav-item lvl1"
    >
     <div
      class="nav-item-hold"
      >
        <img class="nav-icon" src="./assets/icons/toogle_off.svg" alt="" srcset="">
        <span class="nav-text">Recolher Menu</span>
      </div>
    </li>
  </ul>
</div>



<ng-template #content let-modal class="modalInsert">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cadastrar produto avulso</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <div class="wrapper table_green">
      <div class="row justify-content-between align-items-center px-3">
        <div class="col-ml-12" >
          <h1 class="ml-4">Cadastro de produto avulso</h1>
        </div>
      </div>

      <div class="card-filter mt-5 ml-4 mr-4">
        <div class="card-filter-title">
          <span>Dados do Produto</span>
        </div>
        <form>
          <div class="d-flex align-items-start">

            <div class="form-group" style="margin-top: 1px; margin-right: 20px; width: 79px;">
              <label for="cliente" >Código</label>
              <input type="text" class="form-control" id="cliente">
            </div>

          <div class="form-group " style="margin-top: 1px; margin-right: 20px;  width: 288px; " >
              <label for="numberClientOrder" >Descrição</label>
              <input type="text" class="form-control" id="numberClientOrder">
            </div>

            <div class="form-group" style="margin-top: 1px; margin-right: 20px;  width: 79px;" >
              <label for="customerProduct" >Unidade</label>
              <input type="text" class="form-control" id="customerProduct">
            </div>

            <div class="form-group " style="margin-top: 1px; margin-right: 20px;  width: 244px; " >
              <label for="numberClientOrder" >Referência fabricante</label>
              <input type="text" class="form-control" id="numberClientOrder">
            </div>
          </div>
          <div class="d-flex align-items-start mt-3">

            <div class="form-group" style="margin-top: 1px; margin-right: 20px; width: 67px;">
              <label for="cliente" >NCM</label>
              <input type="text" class="form-control" id="cliente">
            </div>
            <div class="form-group" style="margin-top: 1px; margin-right: 20px; width: 67px;">
              <label for="cliente" >%ICMS</label>
              <input type="text" class="form-control" id="cliente">
            </div>
            <div class="form-group" style="margin-top: 1px; margin-right: 20px; width: 67px;">
              <label for="cliente" >%IPI</label>
              <input type="text" class="form-control" id="cliente">
            </div>
            <div class="form-group" style="margin-top: 1px; margin-right: 20px; width: 67px;">
              <label for="cliente" >IVA</label>
              <input type="text" class="form-control" id="cliente">
            </div>
            <div class="form-group" style="margin-top: 1px; margin-right: 20px; width: 67px;">
              <label for="cliente" >Quantidade</label>
              <input type="text" class="form-control" id="cliente">
            </div>
            <div class="form-group" style="margin-top: 1px; margin-right: 20px; width: 67px;">
              <label for="cliente" >Preço</label>
              <input type="text" class="form-control" id="cliente">
            </div>


          </div>

        </form>

      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn button-outline-white" (click)="modal.dismiss('back')">Cancelar</button>
    <button type="button" class="btn button-white" (click)="modal.close('ok')">Cadastrar Produto</button>
  </div>
</ng-template>

</div>
