.modalInsert {
}

.modal-dialog {
  max-width: 720px!important;
  min-height: 662px;
  margin: 1.75rem auto;
}
.button-outline-white {
  background: #00644E;

  border: 1.5px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
}

.button-white {
  background-color: #FFFFFF;
  color: #00644E;
  border-radius: 5px;
}
