@import "./assets/styles/components/colors";
@import "./assets/styles/components/vars";
@import "./assets/styles/components/dropdown";
@import "./assets/styles/components/form";
@import "./assets/styles/components/modals";
@import "./assets/styles/components/tab";
@import "./assets/styles/components/card";
@import "./assets/styles/views/auth";
@import "./assets/styles/iconsmind/iconsmind.css";
@import "./assets/styles/components/header";
@import "./assets/styles/sidebar.scss";


body, html {
  letter-spacing: .3px;
  line-height: 1.6;
  background: #FAFAFA;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  font-family: Nunito,sans-serif;
  font-size: .813rem;
  font-weight: 400;
  color: #47404f;
  text-align: left;
}
html {

}

.app-admin-wrap {
  width: 100%;
}

// .main-content-wrap {
//   width: 100%;
//   float: right;
//   // margin-top: $topbar-height;
//   transition: all .24s ease-in-out;
//   padding: 2rem  2rem 0;
//   position: relative;
//   min-height: 100vh;
//   background: $white;
//   &.sidenav-open {
//       width: calc(100% - #{$sidebar-left-width});
//   }
// }

.main-content-wrap {
  width: calc(100% - 223px);
  float: right;
  // margin-top: $topbar-height;
  transition: all .24s ease-in-out;
  padding: 2rem  2rem 0;
  position: relative;
  // min-height: calc(1200px - #{$topbar-height});
  background: #FAFAFA;
  padding-bottom: 10px;
  // min-height: 1657px!important;
  &.sidenav-open {
      width: calc(100% - #{$sidebar-left-width});
  }
}


.breadcrumb {
  background: transparent;
  align-items: center;
  margin: 0 0 1.25rem;
  padding: 0;
  h1 {
      font-size: 1.5rem;
      line-height: 1;
      padding-right: .5rem;
      margin: 0;
  }
  ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
          display: inline-block;
          position: relative;
          padding: 0 .5rem;
          line-height: 1;
          vertical-align: bottom;
          color: $gray-600;
          &:after {
              position: absolute;
              top: -1px;
              right: 0;
              content: "";
              height: 16px;
              width: 1px;
              background: $gray-600;
              border-radius: 5px;
          }
          &:last-child {
              &:after {
                  display: none;
              }
          }
          a {
              color: $heading;
          }
      }
  }
}

[dir="rtl"] {
  .breadcrumb {
      h1 {
          padding-right: 0;
          padding-left: .5rem;
      }
  }
}
html {
  font-size: 16px;
}
body {
  letter-spacing: .3px;
  line-height: 1.6;
  background: $background;
  overflow-y: scroll;
  overflow-x: hidden;
}

[tabindex='-1']:focus {
  outline: none;
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  height: 0;
}

select,
button,
textarea,
input {
  vertical-align: baseline;
}
div {
  box-sizing: border-box;
}
html, body {
  &[dir=rtl], &[dir=ltr] {
     unicode-bidi: embed
  }
}
bdo[dir=rtl] {
  direction: rtl;
  unicode-bidi: bidi-override;
}
bdo[dir=ltr] {
  direction: ltr;
  unicode-bidi: bidi-override;
}

img {
  max-width: 100%;
}
a, a:focus, a:hover {
  text-decoration: none;
}
blockquote {
    border-left: 2px solid $gray-200;
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.01625rem;
}
.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
  outline: none;
}
.o-hidden {
  overflow: hidden;
}
.separator-breadcrumb {
  margin-bottom: 2rem;
}
@for $i from 1 through 5 {
  .line-height-#{$i} {
    line-height: #{$i};
  }
}
.app-inro-circle {
  text-align: center;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: calc(50% - 150px);
  .big-bubble {
      height: 280px;
      width: 280px;
      margin: 0 auto 20px;
      text-align: center;
      background: $primary;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
          font-size: 108px;
          color: #ffffff;
      }
  }
}

.loadscreen {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    top: calc(50% - 100px);
    .logo {
        display: inline-block !important;
        width: 80px;
        height: 80px;
    }

}


@media (max-width: 576px) {
    .app-inro-circle {
        .big-bubble {
            width: 220px;
            height: 220px;
        }
    }
}

// [dir="rtl"] {
//     .rtl-ps-none {
//         .ps__rail-x, .ps__rail-y {
//             display: none;
//         }
//     }
// }

.app-footer {
  margin-top: 2rem;
  background: $gray-100;
  padding: 1.25rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  .footer-bottom {
      width: 100%;
      .logo {
          width: 3rem;
          height: auto;
          margin: 4px;
      }
  }
}

.home {
  .datatable-row-center.datatable-row-group {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 25%);
    border-radius: 5px;
    margin-bottom: 15px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .datatable-header-cell
  {
     display: flex !important;
     align-items: center !important;
     text-align: center;
  }
  .ngx-datatable .datatable-body .datatable-body-row > div {
    align-items: center;
  }
  .ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-template-wrap {
    text-align: center !important;;
  }
  .datatable-body-cell-label {
    text-align: center;
  }

  .datatable-header-cell-template-wrap {
    text-align: center;
    width: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #8E8E8E;
  }
}

.table_green {
  .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    background-color: #00644E!important;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #fff;

    padding: 10px;
  }

  .ngx-datatable .datatable-header {
    height: 47px!important;
  }
  datatable-header-cell.datatable-header-cell.resizeable.sortable {
    border: 1px solid #FAFAFA;
  }
  .ngx-datatable .datatable-body .datatable-body-row > div {
    align-items: center;
  }

  .datatable-row-center.datatable-row-group {
    border-bottom: solid 1px #EAEAEA;
  }

  .datatable-body-cell.sort-active.active {
    background-color: #fff!important;
  }

  datatable-body-row.datatable-body-row{
    height: 58px;
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 15px;

  //   label {
  //     display: inline-block;
  //     position: relative; /* needed for checkbox absolute positioning */
  //     background-color: #eee;
  //     padding: .4rem;
  //     border: 1px solid #000;
  //     border-radius: 50px;
  //     font-family: "Courier New";
  //     font-size: 1rem;
  //     line-height: 1rem;
  // }

  // label > input[type="checkbox"] {
  //     display: block;
  //     position: absolute; /* remove it from the flow */
  //     width: 100%;
  //     height: 100%;
  //     margin: -.2rem; /* negative the padding of label to cover the "button" */
  //     cursor: pointer;
  //     opacity: 0; /* make it transparent */
  //     z-index: 666; /* place it on top of everything else */
  // }

  // label > input[type="checkbox"] + span {
  //     display: inline-block;
  //     width: 1rem;
  //     height: 1rem;
  //     border: 1px solid #000;
  //     margin-right: .5rem;
  // }

  // label > input[type="checkbox"]:checked + span {
  //     background-color: #ffffff;
  //   }

  }




}



// .tableItem {
//   .tooltip > .tooltip-inner {background-color: #f00;}
// }

.bs-tooltip-bottom  .tooltip-inner {
  background-color: #D4F3FD !important;
  font-size: 12px;
  color: #4267B2;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  width: 380px;
  max-width: 400px !important;
  margin-left: 361px !important;
}
.bs-tooltip-bottom .arrow::before {
  bottom: 0;
  border-width: 0 0.4rem 0.4rem;
  border-bottom-color: #D4F3FD !important;

}
.nav-icon .active {
  background-color: red!important;

  svg.svg_color {
    fill: #000!important;
    color: #00644E !important;
    background-color: #00644E!important;
  }
}

.layout-sidebar-large
.sidebar-left
.navigation-left
.nav-item
.nav-item-hold
.nav-icon,
.layout-sidebar-large
.sidebar-left .navigation-left .nav-item .nav-item-hold .feather svg path {
  fill: #00644E !important;;
  color: #00644E !important;;
}

:host {
  --datatable-body-height: 100%;

  ::ng-deep {

      .datatable-body {
        height: var(--datatable-body-height) !important;
        overflow-y: auto;
      }
   }
}

// .tableItemTooltip.tooltip-inner {
//   background-color: darkgreen;
//   font-size: 125%;
// }
// .tableItemTooltip .arrow::before{
//   border-top-color: darkgreen;
// }

// .bs-tooltip-bottom .redTip-arrow::before {
//   border-bottom-color: red !important
// }

// .is-active {
//   background-color: red !important
// }
.side-content-wrap {

  .active {
    outline: none;
    background-color: #B5E9DE;
    border-radius: 5px;
    color: #00644E !important;
    .nav-text {
      color: #00644E !important;
    }
    path  {
      fill: #00644E !important;
    }

  }
}


.group-icon-input {
  path  {
    fill: #8E8E8E !important;
  }
}
.group-icon-select {
  path  {
    fill: #fff !important;
  }
  svg#Layer_1 {
    margin-top: 7px;
  }

}
.form-search  {
  display: flex;
  path  {
    fill: #FFFFFF !important;
  }
  svg {
    width: 13px;
  }
}


th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

/* Filtering table demo */
ngbd-table-filtering span.ngb-highlight {
  background-color: yellow;
}

/* Complete table demo */
ngbd-table-complete span.ngb-highlight {
  background-color: yellow;
}

ngb-carousel .picsum-img-wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .picsum-img-wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

// .ng-tns-c128-2 .ng-star-inserted{
//   top: 6px!important;
//   left: -179px!important;
// }
bs-daterangepicker-container.bottom.ng-tns-c128-0.ng-star-inserted {
  top: 6px!important;
  left: -179px!important;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #00644E;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #00644E;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #00644E;
  transform: scale(0.5);
}


.modal-header {
  background: #00644E!important;
  color: #FFFFFF;
  height: 51px;
  padding: 24px 11px;
}
.modal-footer {
  background: #00644E!important;
  color: #FFFFFF;
  margin-top: 50px!important;;
}

.modal-footer-white {
  background: #FAFAFA!important;
  color: #FFFFFF; 
  margin-top: 25px !important;
  margin-bottom: 25px!important;
  margin: auto;
}

.modal-header .close {
  color: white;
  opacity: 1;
}

.modal-dialog {
  max-width: 1130px!important;
  min-height: 662px;
  margin: 1.75rem auto;
}
.modal-content {

.wrapper {
  padding-top: 20px;
  margin-left: 5px;


  h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 132%;
    display: flex;
    align-items: center;
    color: #00644E;
  }
  button.btn.btn-primary.btn {
    height: 38px;
    border: 0;
  }
  filter {
    button {
      border-color: black;
    }

  }
  .col-md-2.form-group.filter {
    text-align: center;
    margin-right: -47px;
}
  .form-datePicker{
    background-color: #FFFFFF;
    // border: 1px solid #B3B3B3;
    color: #B2B2B2;
  }
  ::placeholder {
    color: #B2B2B2;
  }
  .input-group-append {

  }
//   .chart {
//     div {
//       position: absolute;
//       left: 0px;
//       top: 0px;
//       width: 123%;
//       height: 417px;
//       user-select: none;
//       -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//       padding: 0px;
//       margin: 0px;
//       border-width: 0px;
//       margin-left: -105px;
//     }
//   }
//   .echart {
//     width: 118%;
//     margin-left: -67px;
// }
// .group_top {
//   margin-top: 35px;
//   width: 70%;
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
// }
  .card-filter{
    background: #FAFAFA;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    padding: 6px 15px 29px 15px;

    position: relative;
  }

  .card-filter-title {
    background-color: #FAFAFA;
    position: absolute;
    height: 24.61px;
    top: -10px;
    padding-left: 6px;
    padding-right: 6px;
    span {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 132%;
      color: #00644E;
    }
  }

  .group-cards{
    padding-top: 35px;
    padding-bottom: 45px;
    width: 88%;
    margin: auto;
  }
  .card_top {
    width: 53px;
    height: 21px;
    width: 53px;
    height: 21px;
    border-radius: 3px;
    display: flex;
    padding: 3px;
    margin-left: 5px;
    img {
      margin-right: 2px;
    }
  }
  .green {
    background-color: #C3EE83;
    color: #489019;
  }
  .red {
    background-color: #FE9F99;
    color: #B52A54;
  }
  .title {
    display: flex;
    align-items: center;
    > span {
      font-family: Lato;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 34px;
      color: #2C2C2C;
    }
  }
  .description {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #8E8E8E;
  }
}

.header-hr {
  margin: 0 25px;
  hr{
    border: none;
    border-left: 1px solid #dddddd;
    height: 38px;
    width: 1px;
  }
}

.card_info {
  color: #fff;
  padding: 6px;
  text-align: center;
  margin: auto;
  border-radius: 3px;
  width: 111px;
}
.card_green {
  background-color: #00644E;
  border-color: #00644E;
}
.card_orange {
  background-color: #B54C00;
  border-color: #B54C00;
}
.card_red {
  background-color: #B50B00;
  border-color: #B50B00;
}

.tableItem {
  cursor: pointer;
  color: #4267B2;
}

.datePicker {
  width: 147px !important;
}
.group-icon-input {
  float: right;
  display: flex;
  align-items: center;
  justify-content: left;
  background: transparent;
  position: relative;
  div {
    position: absolute;
    right: 6px;
    cursor: pointer;
  }
}

.group-icon-select {
  float: right;
  display: flex;
  align-items: center;
  justify-content: left;
  background: transparent;
  position: relative;
  div {
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 30px;

  }
}

.select-icon {
  background-color: #00644E;
  height: 30px;
  padding: 0 10px;

}


label {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 132%;

  color: #747474;
  margin-bottom: 2px!important;
}

.form-group, .form-control  {
  border-radius: 0!important;
  height: 30px!important;
  font-size: 12px;
}

.info_square {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.square {
  width: 15px;
  height: 15px;
  margin-left: 30px;
}

.gray{
  background-color: #E3EFEC;
}
.orange {
  background-color: #FCCFB7;
}
.red {
  background-color: #E5B2AF;
}
span.square_text {
  margin-left: 6px;
  font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 132%;
/* or 16px */

display: flex;
align-items: center;

/* Colors/Gray6 */

color: #747474;

}

.form-top {
    display: flex!important;
    justify-content: flex-start;
    align-items: center;
}


.search-form {
  input {
      width: 325px;
      color: #212121;
      font-size: .8rem;
      line-height: 2;
      height: 100%;
      outline: initial!important;
      padding: .5rem 1rem;
      width: calc(100% - 32px);
  }
  .search-icon {
      font-size: 18px;
      width: 28px;
      display: inline-block;
      background-color: #00644E;
      text-align: center;
      padding-top: 4px;


  }
  .form-search  {
    display: flex;
    path  {
      fill: #FFFFFF !important;
    }
  }
}
.filter-input-details {
  background-color: #dddddd;
  border: 1px solid #B3B3B3;
  margin-bottom: 15px;
}
.filter-input-details_white {
  background-color: #ffffff!important;
  border: 1px solid #B3B3B3;
  margin-bottom: 15px;
}
.radios {
  /* height: 40px; */
  margin-bottom: -30px;
  .form-check-label {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 132%;
    /* or 18px */

    display: flex;
    align-items: center;
    margin-right: 29px;
  }
}

}

.new-budget {
  .modal-dialog {
    max-width: 911px !important;
    min-height: 662px;

    margin: 1.75rem auto;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1130px!important;
    min-height: 662px;

    margin: 1.75rem auto;
  }
  .sidebar {
    .modal-dialog {
      max-width: 744px!important;
      min-height: 662px;

      margin: 1.75rem auto;
    }
  }
}


datatable-scroller.datatable-scroll {
  width: 100% !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


 
.table_green_add {
  .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    background-color: #00644E!important;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell:first-of-type {
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #585B62;
    background-color: #F1F1F1!important;
    padding: 10px;
    // width: 66px!important;
    text-align: center;
  } 
  .ngx-datatable .datatable-header {
    height: 47px!important;
  }
  datatable-header-cell.datatable-header-cell.resizeable.sortable {
    border: 1px solid #FAFAFA;
  }
  .ngx-datatable .datatable-body .datatable-body-row > div {
    align-items: center;
  }

  .datatable-row-center.datatable-row-group {
    border-bottom: solid 1px #EAEAEA;
  }

  .datatable-body-cell.sort-active.active {
    // background-color: #fff!important;
  }

  datatable-body-row.datatable-body-row{
    height: 58px;
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 15px; 

  }
.datatable-body-cell:first-of-type {
  // width: 66px!important;
  color: #585B62;
  background-color: #F1F1F1!important;
  text-align: center;
  padding-top: 7px;
}
.datatable-body-cell { 
  padding-top: 7px;
}



}


.mat-horizontal-content-container.ng-tns-c198-0 {
  background: #FAFAFA;
}

.mat-horizontal-stepper-header-container.ng-tns-c198-0 {
  background: #FAFAFA;
}
 
.mat-horizontal-stepper-header { 
  height: 62px!important; 
}

.mat-horizontal-content-container {
  overflow: hidden;
  padding: 0 0 24px 10px!important;
}
// .table_green_add .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell:first-of-type{
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 800;
//   font-size: 14px;
//   line-height: 17px;
//   text-transform: uppercase;
//   color: #585B62;
//   background-color: #F1F1F1!important;
//   padding: 10px;
//   width: 66px!important;
//   text-align: center;
// }

datatable-body-row.datatable-body-row.datatable-row-even.ng-star-inserted {
  
}
.table_green_add datatable-body-row.datatable-body-row { 
  padding-top: 0px!important;
}

.table_green_add .ngx-datatable .datatable-header {
  height: 39px !important;
}

.qtde {
  height: 25px;
  width: 35px;
  background: #FFFFFF;
  border: 1px solid #AFAFAF;
  box-sizing: border-box;
  color: #747474;
  margin: auto;
}


.mat-tab-label {
  border-top: 7px solid #8E8E8E;
  margin: 0px;
  height: 61px!important;
  width: 257px;
  margin-right: 25px;
  background-color: none;

  .mat-tab-label, .mat-tab-link {
    color: #8E8E8E;
  }
}

.setSteeperStyle {
  .mat-tab-label {
    border-top: 7px solid #00644E!important;
    margin: 0px!important;
    height: 61px!important;
    width: 257px!important;
    margin-right: 25px!important;
    background-color: none!important; 
  
  }
  .mat-tab-label, .mat-tab-link {
    color: #00644E!important;
  }

} 

.input_text_date {
  position: relative;
  input {
    padding-left: 25px;
  }
}
.date_input {
  position: absolute;
  top: 23px;
  left: 6px;
}


.modal-content { 
  background-color: #FAFAFA!important; 
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}
.mat-step-header {
  pointer-events: none !important;
}





.mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
  flex-direction: row !important;
  justify-content: baseline;
  align-items: flex-end;
}

.mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
}

.mat-step-icon.mat-step-icon-state-number {
  margin-right: 15px !important;
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before, .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after {
  border-top-width: 1px;
  border-top-style: solid;
  content: "";
  display: inline-block;
  height: 0;
  position: absolute;
  width: calc(50% - 20px);
  top: 25px;
  left: 26px;
  display: none !important;

}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before {
  display: none !important;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  // background-color: #00644E;
  // color: #fff;
}
.mat-step-label.mat-step-label-active.mat-step-label-selected {
  color: #00644E;
}
.mat-step-label.mat-step-label-active {
}

.mat-step-header#cdk-step-label-0-0 {
  background: transparent;
}

.mat-step-header#cdk-step-label-0-0 {
  background: none
}
.mat-step-header#cdk-step-label-0-1 {
  background: none;
}
.mat-step-header#cdk-step-label-0-2 {
  background: none;
}

.mat-step-header .mat-step-label.mat-step-label-active { 
  text-align: left!important;
  width: 100%; 
  color: #8E8E8E!important;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 17px; 

}
[ng-reflect-state='home'] {
  .mat-step-icon  {
    background-color: #8E8E8E;
    color: #fff;
  }
  .mat-ripple.mat-step-header-ripple {
    border-top: 7px solid #8E8E8E!important;
    width: 90%;
    margin: auto;
  }
}
.mat-ripple.mat-step-header-ripple {
  border-top: 7px solid #8E8E8E;
  width: 90%;
  margin: auto;
}

[ng-reflect-state='done'],
[ng-reflect-state='edit'],
[aria-selected='true']
{ 
  .mat-step-icon  {
    background-color: #00644E!important;
    color: #fff;
  }
  .mat-step-text-label  {
    color: #00644E!important;

  }
  .mat-ripple.mat-step-header-ripple {
    border-top: 7px solid #00644E!important;
    width: 90%;
    margin: auto;
  }
}




.mat-stepper-horizontal-line{
  display: none;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: #FAFAFA!important;
}