
//SIDEBAR =======

.layout-sidebar-large {
  .sidebar-left-secondary,
  .sidebar-left {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 223px;
    background: #00644E;
    color: #fff;
    // min-height: 1657px;
  }

  .sidebar-left {
      // left: calc(-#{$sidebar-left-width} - #{$side-clearance});
      z-index: 90;
      transition: all .24s ease-in-out;
      &.open {
          left: 0
      }
      .logo {
          display: none;
      }
      .navigation-left {
          list-style: none;
          // text-align: center;
          // height: 100%;
          margin: 0;
          padding: 0;
          .nav-item {
              position: relative;
              display: block;
              width: 100%;
              color: #fff!important;
              display: flex;
              justify-content: space-between;
              // cursor: pointer;
              // border-bottom: 1px solid $gray-300;
              &:focus, &:active {
                  outline: none;
              }
              &.lvl1 {
                  text-align: center;
              }
              .active {
                color: #00644E!important;
                fill: red !important;
              }

              .nav-item-hold {
                  width: 100%;
                  padding: 10px 0;
                  display: flex;
                  align-items: center;
                  margin: 15px;
                  cursor: pointer;
                  &:focus,
                  &:active {
                      outline: none;
                      background-color: #B5E9DE;
                      border-radius: 5px;
                      color: #00644E !important;
                  }
                  .nav-icon, .feather {
                      font-size: 15px;
                      height: 24px;
                      width: 24px;
                      display: block;
                      margin-right: 13px;
                      margin-left: 13px;
                      // margin: 0 auto 6px;
                      fill: black;
                      .active {
                        path.svg_color {
                          fill: red;
                         }
                        // fill: #00644E !important;
                      }
                  }
                  .nav-text {
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    color: #F1F1F1;
                  }
                  a {
                      color: #F1F1F1;
                  }
                  .active {
                    color: #00644E!important;
                    fill: red !important;
                  }
              }
              // &.active .triangle {
              //     position: absolute;
              //     width: 0;
              //     height: 0;
              //     right: 0;
              //     bottom: 0;
              //     border-style: solid;
              //     border-width: 0 0 30px 30px;
              //     border-color: transparent transparent $primary transparent;
              // }
          }
      }
  }

  // SIDENAV SECONDARY
  .sidebar-left-secondary {
      left: calc(-#{$sidebar-left-secondary-width} - #{$side-clearance});
      z-index: 89;
      width: $sidebar-left-secondary-width;
      padding: .75rem 0;
      transition: all .24s ease-in-out;
      background: $background;
      &.open {
          left: $sidebar-left-width;
      }
      header {
          display: none;
      }
      .childNav {
          list-style: none;
          padding: 0;

          li.nav-item {
              display: block;

              a {
                  color: #fff;
                  text-transform: capitalize;
                  display: flex;
                  align-items: center;
                  font-size: 13px;
                  cursor: pointer;
                  padding: 12px 24px;
                  transition: .15s all ease-in;
                  // &:hover {
                  //     background: $gray-200;
                  // }
                  // &.open {
                  //     color: $primary;
                  // }
                  .nav-icon {
                      font-size: 18px;
                      margin-right: 8px;
                      vertical-align: middle;
                      color: #fff;
                      width: 50px;
                  }
                  .item-name {
                      vertical-align: middle;
                      font-weight: 400;
                  }
                  .dd-arrow {
                      margin-left: auto;
                      font-size: 11px;
                  }
              }
              .submenu {
                  margin-left: 8px;
              }
          }
      }
      &> .childNav {
          margin: 0;
      }
      li.nav-item {
          &.open {
              > div {
                  > a {
                      > .dd-arrow {
                          transform: rotate(90deg);
                      }
                  }
                  > .childNav {
                      max-height: 1000px;
                      overflow: visible;
                  }
              }
          }

          > div {
              > a {
                  > .dd-arrow {
                      transition: all .4s ease-in-out;
                  }
              }
          > .childNav {
                  max-height: 0;
                  overflow: hidden;
                  background: $background;
                  transition: all .4s ease-in-out;
                  li.nav-item a {
                      padding: 12px 12px 12px 50px;
                  }
              }
          }
      }
  }

  // .sidebar-overlay {
  //     display: none;
  //     position: fixed;
  //     width: calc(100% - #{$sidebar-left-width} - #{$sidebar-left-secondary-width});
  //     height: calc(100vh - #{$topbar-height});
  //     bottom: 0;
  //     right: 0;
  //     background: rgba(0, 0, 0, 0);
  //     z-index: 101;
  //     cursor: w-resize;
  //     &.open {
  //         display: block;
  //     }
  // }
}

// .module-loader {
//   position: fixed;
//   background: rgba($background, .5);
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100vh;
//   z-index: 9;
//   .loader, .spinner {
//       position: fixed;
//       top: 45%;
//       left: calc(50% + 56px);
//       z-index: inherit;
//   }
// }

@media (max-width: 576px) {

  .main-content-wrap {
      padding: 1.5rem;
      &.sidenav-open {
          width: 100%;
      }
  }
  .main-content-wrap {
      margin-top: $topbar-height-mobile;
  }
  .layout-sidebar-large .sidebar-left-secondary,
  .layout-sidebar-large .sidebar-left {
      top: $topbar-height-mobile !important;
      height: calc(100vh - #{$topbar-height-mobile}) !important;
  }
  .sidebar-left {
      left: calc(-#{$sidebar-left-width-mobile} - #{$side-clearance});
      .navigation-left {
          width: $sidebar-left-width-mobile;
          .nav-item {
              &.active {
                  .triangle {
                      border-width: 0 0 24px 24px;
                  }
              }
              .nav-item-hold {
                  padding: 16px 0;
              }
          }
      }
  }
  .sidebar-left-secondary {
      left: calc(-#{$sidebar-left-secondary-width-mobile} - #{$side-clearance});
      width: $sidebar-left-secondary-width-mobile;
      &.open {
          left: $sidebar-left-width-mobile;
      }
  }
  .sidebar-overlay {
      height: calc(100vh - #{$topbar-height-mobile});
  }

}

[dir="rtl"] {
  .layout-sidebar-large {
      .sidebar-left {
          left: auto !important;
          right: calc(-#{$sidebar-left-width} - #{$side-clearance});
          &.open {
              left: auto !important;
              right: 0;
          }
          .navigation-left .nav-item .triangle {
              transform: rotate(90deg);
              right: auto;
              left: 0;
          }
      }
      .sidebar-left-secondary {
          left: auto !important;
          right: calc(-#{$sidebar-left-secondary-width} - #{$side-clearance});
          &.open {
              left: auto !important;
              right: $sidebar-left-width;
          }
          .childNav li.nav-item a {
              .dd-arrow {
                  margin-left: unset !important;
                  margin-right: auto;
              }
              .nav-icon {
                  margin-left: 8px;
                  margin-right: 0;
              }
          }
      }
      .main-content-wrap {
          float: left;
      }
      .sidebar-overlay {
          right: auto !important;
          left: 0;
          cursor: e-resize;
      }
  }
}


@media (max-width: 767px) {
  .layout-sidebar-compact {
    &.sidenav-open {
      .main-content-wrap {
        width: 100%;
      }
    }
    .sidebar-left-secondary {
      .sidebar-close {
        display: block;
      }
    }
  }
}
@media (max-width: 576px) {
  .main-content-wrap {
    padding: 1.5rem;
    &.sidenav-open {
      width: 100%;
    }
  }
  .main-content-wrap {
    margin-top: $topbar-height-mobile;
  }
  .sidebar-left-secondary,
  .sidebar-left {
    // top: $topbar-height-mobile;
    // height: calc(100vh - #{$topbar-height-mobile});
  }
  .sidebar-left {
    left: calc(-#{$sidebar-left-width-mobile} - #{$side-clearance});
    .navigation-left {
      width: $sidebar-left-width-mobile;
      .nav-item {
        &.active {
          .triangle {
            border-width: 0 0 24px 24px;
          }
        }
        .nav-item-hold {
          padding: 16px 0;
        }
      }
    }
  }
  .sidebar-left-secondary {
    left: calc(-#{$sidebar-left-secondary-width-mobile} - #{$side-clearance});
    width: $sidebar-left-secondary-width-mobile;
    &.open {
      left: $sidebar-left-width-mobile;
    }
  }
  .sidebar-overlay {
    height: calc(100vh - #{$topbar-height-mobile});
  }
}

[dir="rtl"] {
  .layout-sidebar-compact {
    .sidebar-left {
      left: auto !important;
      right: calc(-#{$sidebar-left-width} - #{$side-clearance});
      &.open {
        left: auto !important;
        right: 0;
      }
    }
    &.sidenav-open {
      .sidebar-left-secondary {
        right: $sidebar-left-width;
      }
    }
    .sidebar-left-secondary {
      left: auto !important;
      right: calc(-#{$sidebar-left-secondary-width} - #{$side-clearance});
      header {
        text-align: right;
      }
      .childNav li.nav-item a {
        .dd-arrow {
          margin-left: unset !important;
          margin-right: auto;
        }
        .nav-icon {
          margin-left: 8px;
          margin-right: 0;
        }
      }
    }
    .main-content-wrap {
      float: left;
    }
  }
}
